[2018-11-12 19:21] balmas commented on #240
Ok, I entered 2 issues for this. The proper-name we might be able to address easily with a change to the morph-client (that's alpheios-project/morph-client#31) but the errors with aeneadum require a change to the whitaker parser code, which isn't likely to happen.

[2018-11-12 19:21] #240 closed

[2018-11-12 19:36] monzug commented on #240
Thanks.

[2018-11-14 14:57] monzug commented on #88
@balmas shall we consider this for the next release?

[2018-11-14 15:00] monzug commented on #130
@balmas  reassign to myself to add the table

[2018-11-14 15:14] monzug commented on #147
we do have latus, lata, latum now in post release build. I checked few online Latin grammars and they all have latus, a , um
close this one

[2018-11-14 15:14] #147 closed

[2018-11-14 15:21] monzug commented on #150
@balmas  next release?

[2018-11-14 15:35] monzug commented on #208
assign to myself to add imperative tables

[2018-11-14 15:37] monzug commented on #209
No issue here. closed

[2018-11-14 15:37] #209 closed

[2018-11-14 15:56] #211 closed

[2018-11-14 15:56] #212 closed

[2018-11-14 16:31] balmas commented on #186
the workarounds I suggested are really awful. Maybe it would be better actually to correct this in the morph-client, to just override the Whitaker headword for these forms.  I think I would be willing to do that.  Need to figure out which release to target it for.

[2018-11-14 16:31] balmas commented on #150
still trying figure out which release this will go in

[2018-11-14 16:39] balmas commented on #88
sure, although I'm a little lost on what needs to be done... is this a data or a code change?

[2018-11-14 17:48] monzug commented on #88
only data - I think it's only table title

On Wed, Nov 14, 2018 at 11:39 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-14 18:08] balmas commented on #88
ok, I will take this on as part of the Safari release then.

[2018-11-14 18:37] monzug commented on #88
Most likely we can try to solve by adding a note and an ending - on the adj table for miser liber ...   and    niger pulcher ...

[2018-11-15 13:15] monzug commented on #88
can we add a note to the masculine adjective 1st/2nd decl nominative regular ending in "-"? the note should say:

Stems ending in ro- preceded by e form the nominative masculine like miser, asper, gibber, lacer, liber, prosper (also prosperus), satur (-ura, -urum), tener; with compounds of -fer and -ger as saetige;, also usually dexter.
Stems in ro- preceded by a consonant form the nominative masc

[2018-11-15 14:04] balmas commented on #88
I will add it and you can see if you like it :-)

[2018-11-15 14:07] monzug commented on #88
I was actually looking how to do it. basically you add a new number under
footnote in *suffixes.csv*  and then you add the text in *footnotes.csv*
correct?

On Thu, Nov 15, 2018 at 9:04 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-15 14:10] balmas commented on #88
yes :-)

[2018-11-16 14:17] monzug commented on #88
I updated both files with 2 footnotes, 10 & 11 - could u pls check that I did ok? I am not sure if I was suppose to use the wrap mode as the line is looooong

[2018-11-16 15:29] balmas commented on #88
close! I committed changes to each -- for the suffixes.csv, multiple footnote references should be separated by spaces and not commas. For footnotes.csv, it should be on a single line, the new lines will mess up the parser.

I will go ahead and merge and the changes will be in the next build. thank you!

[2018-11-16 15:30] #88 closed, assigned to nobody

[2018-11-16 19:16] monzug commented on #88
great. thanks for reviewing the changes.

On Fri, Nov 16, 2018 at 10:30 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-19 15:06] balmas commented on #88
I think you should be able to see this fix in build 2.1.0.9

[2018-11-19 15:46] monzug commented on #88
all latin inflection table are messed up in latest build 2.1.0.9
hope I didn't do anything wrong by editing the data files.... et me know
please
see screenshot

On Mon, Nov 19, 2018 at 4:07 PM Bridget Almas <notifications@github.com>
wrote:

[2018-11-21 15:06] monzug commented on #88
tested in 2.1.0.10, verified

[2018-11-26 14:54] monzug opened #243 "Fero: the active and passive form merged in the verb browser"
the verb fero, ferre, tuli, latus has two voices: active and passive. in the verb browser the two voices merged in the indicative and subjunctive. I can't remember if we discussed about this previously. If we did, I have no memory of it. We can keep this item as a record if it's no-issue

[2018-11-26 17:02] balmas commented on #243
this is an easy fix. Accepting it for the Safari release.

[2018-11-29 16:04] monzug commented on #110
added in data table

[2018-11-29 16:05] monzug commented on #111
added in data

[2018-11-29 16:06] monzug commented on #112
added in data with accent in dēsum

[2018-11-29 16:07] monzug commented on #113
added in data

[2018-11-29 16:08] monzug commented on #114
added in data table

[2018-11-29 16:08] monzug commented on #115
added to data table

[2018-11-29 16:09] monzug commented on #116
added to data table

[2018-11-29 16:10] monzug commented on #117
need to investigate if whitaker does recorgnize this verb. I search for prodsum but it gave back the verb sum + participle

[2018-11-29 16:10] monzug commented on #118
added to data table

[2018-11-29 16:11] monzug commented on #119
added to data table

[2018-11-29 16:35] monzug commented on #120
added to data table

[2018-11-29 16:36] monzug commented on #121
added to data table

[2018-11-29 19:39] balmas commented on #110
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:40] balmas commented on #111
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:41] balmas commented on #112
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:41] balmas commented on #113
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:42] balmas commented on #114
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:42] balmas commented on #115
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:43] balmas commented on #116
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:43] balmas commented on #118
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:44] balmas commented on #119
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:45] balmas commented on #120
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-29 19:49] balmas commented on #121
this is in build 2.1.0.12 and ready for testing. Still needs to be merged to master if testing is ok.

[2018-11-30 21:06] balmas commented on #121
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:06] balmas commented on #120
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:06] balmas commented on #119
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:06] balmas commented on #118
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:06] balmas commented on #116
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:06] balmas commented on #115
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:07] balmas commented on #114
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:07] balmas commented on #113
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-11-30 21:07] balmas commented on #110
merged and in inflection browser in build 2.1.0.13 (available from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x)

[2018-12-01 18:32] monzug commented on #112
remove some endings copied over from sum - I found only 1 table of the desum conj.  so I followed that lead.

[2018-12-01 18:52] monzug commented on #110
Bridget, made some changes (add and remove entries). please use latest update file in next build. Thanks

[2018-12-01 19:15] monzug commented on #114
Update file. Please use latest version for next build. THX.

[2018-12-01 19:16] monzug commented on #113
Please use latest version as I removed/added some endings. Thanks

[2018-12-01 20:00] monzug commented on #118
Please use the updated file on next build. Thanks

[2018-12-01 20:02] monzug commented on #119
Please use updated file in the next build. Thanks

[2018-12-01 20:14] monzug commented on #116
Please use updated file in next build. Thanks

[2018-12-01 20:15] monzug commented on #115
Please use updated file for next build. Thanks

[2018-12-01 20:33] monzug commented on #111
Made several changes, pls use updated file in the next build. Thanks

[2018-12-01 20:58] monzug commented on #121
I did also change an ending in the volo table. could you pls use updated file in the next build. Thanks

[2018-12-01 20:59] monzug commented on #120
Please use updated file in next build. Thanks

[2018-12-02 20:43] monzug commented on #117
Whitaker ignores prodsum.  in Allen & Greenough, prodsum is a earlier form of prosum. Maybe we should just add a footnote somewhere. need to think what and where

[2018-12-03 09:30] monzug commented on #117
the footnote should says: pro (earlier form prod,retains its original d before e)

[2018-12-03 09:38] monzug commented on #130
see the table at page 118 of Allen & Greenough

[2018-12-03 15:53] balmas commented on #71
As it turns out, it appears that this got lost in the water of the supine and participle with issue #76. We added the supine and participle as related tables for irregular verbs but @monzug points out that we never fixed the problem of infinitive and imperative missing from the Latin irregular verb tables. Reopening.

[2018-12-04 15:39] balmas commented on #117
that sounds fine to me @monzug . Should I assign this to you to do?

[2018-12-04 15:40] monzug commented on #117
yes please

On Tue, Dec 4, 2018 at 4:39 PM Bridget Almas <notifications@github.com>
wrote:

[2018-12-05 15:00] monzug commented on #117
added footnotes 14 to forms.csv and to form_footnotes.csv. I did also edit the footnotes.csv then realized that I should use the other file for irregular verb. could you pls undo (or ignore my request to master) for footnotes.csv? I am not sure how to undo an editing. THANKS!!!

[2018-12-05 15:00] #117 closed

[2018-12-05 20:36] monzug commented on #117
Thanks

On Wed, Dec 5, 2018 at 9:25 PM Bridget Almas <notifications@github.com>
wrote:

[2018-12-07 21:17] balmas commented on #117
@monzug the table should be there in build 2.1.0.14 (https://github.com/alpheios-project/webextension/tree/issue-176/dist) but you can't get to it from the inflection browser because I forgot to add it there. Not sure if you can test it otherwise?

[2018-12-07 21:32] balmas commented on #121
in build 2.1.0.14

[2018-12-07 21:32] balmas commented on #120
in build 2.1.0.14

[2018-12-07 21:32] balmas commented on #119
in build 2.1.0.14

[2018-12-07 21:32] balmas commented on #118
in build 2.1.0.14

[2018-12-07 21:32] balmas commented on #116
in build 2.1.0.14

[2018-12-07 21:32] balmas commented on #114
in build 2.1.0.14

[2018-12-07 21:33] balmas commented on #113
in build 2.1.0.14

[2018-12-07 21:33] balmas commented on #111
in build 2.1.0.14

[2018-12-07 21:33] balmas commented on #110
in build 2.1.0.14

[2018-12-08 16:14] monzug commented on #121
looks good

[2018-12-08 16:14] #121 closed

[2018-12-08 16:20] monzug commented on #120
uhm, non vis  non vult and non vultis do have the underscore not the space. again, what did I do wrong here?

[2018-12-08 16:39] monzug commented on #110
looks good

[2018-12-08 16:39] #110 closed

[2018-12-08 16:44] monzug commented on #119
looks good

[2018-12-08 16:44] #119 closed

[2018-12-08 16:49] monzug commented on #118
looks good

[2018-12-08 16:49] #118 closed

[2018-12-08 16:56] monzug commented on #116
looks good

[2018-12-08 16:56] #116 closed

[2018-12-08 17:00] monzug commented on #115
looks good

[2018-12-08 17:00] #115 closed

[2018-12-08 17:05] monzug commented on #114
intersum does not show up in inflection table. help.

[2018-12-10 15:09] balmas commented on #117
oh, nevermind, I see that we don't have a table for prodsum, just a footnote. Will fix the truncation on the footnote.

[2018-12-10 15:13] balmas commented on #114
huh, that's interesting. It's there in the browser, but it shows up as unimplemented when you do a lookup on 'intersum'. I wonder if it's related to the fact that there is a 2nd irregular verb in the parse results, 'intersest' and because we have no table for that, it's preventing it from displaying. Need to investigate further.

[2018-12-10 15:16] balmas commented on #120
not sure, but I do see underscore is there in the forms.csv. I will remove it.

[2018-12-10 15:33] monzug commented on #114
we can merge the two verbs. I was able to pull the table out with a form
that the other verb didn't have, I believe.

On Mon, Dec 10, 2018 at 10:13 AM Bridget Almas <notifications@github.com>
wrote:

[2018-12-10 15:34] monzug commented on #120
will the space show up in the table?

On Mon, Dec 10, 2018 at 10:16 AM Bridget Almas <notifications@github.com>
wrote:

[2018-12-10 15:36] balmas commented on #120
yes, this is how it looks for me
![screenshot from 2018-12-10 10-35-40](https://user-images.githubusercontent.com/644870/49742826-61f3d180-fc67-11e8-9d8d-24e65464260f.png)

[2018-12-10 15:41] monzug commented on #120
Perfect!!!! merci'

On Mon, Dec 10, 2018 at 10:36 AM Bridget Almas <notifications@github.com>
wrote:

[2018-12-11 15:02] monzug commented on #117
fixed! Thanks

[2018-12-11 15:05] #120 closed

[2018-12-11 16:00] balmas commented on #113
test in in build 2.1.0.16

[2018-12-11 16:02] balmas opened #250 "unimplemented message with 2 irregular verbs, one implemented one not"
_Originally posted by @balmas in https://github.com/alpheios-project/inflection-tables/issues/114#issuecomment-445850402_

[2018-12-11 16:03] balmas commented on #250
the form intersum matches 2 lemmas, intersum and intersest, both irregular. We have a table for the former and not the latter, but the inflection matching display shows this as unimplemented if you lookup a form that appears in both.

[2018-12-11 16:03] balmas commented on #114
#250 is to address the remaining problem here.

[2018-12-12 12:15] irina060981 commented on #38
@balmas , what do you think - is this issue actual for now?
Should I find time to create some specific tests here or may be we could close this issue too?

[2018-12-12 12:18] balmas commented on #38
let's leave it open. We do need unit tests and I don't want to forget about that, but it is not the highest priority at the moment.

[2018-12-13 13:32] monzug commented on #113
looks good

[2018-12-13 13:32] #113 closed

[2018-12-19 16:43] monzug opened #252 "Can we remove the supine sentence in the verb browser for all the irregular verbs that do not have supine"
All the compounds of sum such as adsum absum etc do not have the supine. it would be nicer if we do not display the table hasn't been implemented yet sentence for these verbs. Will provide a full list of verbs with no supine.

[2018-12-19 16:48] monzug opened #253 "add footnotes 14 to the infinitive for irregular verb prosum"
I still need to add the footnote 14 to the infinitive  for irregular verb prosum

[2019-01-18 15:49] monzug opened #256 "add conjugation table for nequeo"
see #130
this table has no passive voice

[2019-01-20 17:33] monzug commented on #129
no passive form for this verb

[2019-01-24 15:32] abrasax commented on #252
I would agree

On Mon, Jan 21, 2019 at 9:25 AM monzug <notifications@github.com> wrote:

[2019-02-01 11:01] monzug opened #259 "remove accents in desum in the verb browser"
For consistency with the other irregular verbs, desum should NOT have the accents in the irregular verb list.

[2019-03-20 16:15] monzug commented on #256
in Allen and Greenough, we do also have nequiere for perfect indicative 3rd pers plural.
 from whitaker:
nequi.ere            V      6 1 PRES PASSIVE IMP 2 S
nequeo, nequire, nequivi(ii), nequitus  V   [XXXBX]
be unable, cannot;
Syncope  ier=>iver
Syncopated perfect often drops the 'v' and contracts vowel
nequiv.ere           V      6 1 PERF ACTIVE  IND 3 P
nequeo, nequire, nequivi(ii), nequitus

[2019-03-21 15:47] monzug commented on #253
added.

[2019-03-21 15:48] #253 closed

[2019-03-21 15:51] monzug commented on #256
added footnotes 15.

[2019-03-21 15:51] #256 closed

[2019-04-05 20:06] balmas opened #262 "fix future perfect of eo"
ierint not ierunt (user reported)

[2019-04-07 14:42] monzug commented on #262
so glad we got this feed-back!!!! thank to this user.

add also iverim and ivissem to the subjunctive perfect and pluperfect

[2019-04-11 13:48] monzug commented on #130
in some grammars, there are extra entries for the plural indic perfect active. I follow the Allen&Greenough's grammar mainly.

[2019-04-11 13:48] #130 closed

[2019-04-11 14:23] #129 closed

[2019-04-11 14:26] monzug opened #263 "add conjugation table for odeo"
see issue #127

[2019-04-11 14:50] #127 closed

[2019-04-11 15:03] #128 closed

[2019-04-11 15:08] monzug commented on #262
to do next in the irregular table: add all missing form for eo + odeo table + remove accent to desum

[2019-04-25 14:41] balmas commented on #262
this will be in the next build (3.0.0.30)

[2019-04-25 15:14] monzug commented on #262
I will wait for this fix and then will start digging into the left-over...

[2019-04-30 13:54] balmas commented on #262
in webextension qa-3.0.0.30 and texts-test (embed-lib 1.0.0.6)
(https://github.com/alpheios-project/webextension/tree/qa-3.0.0.30/dist and Dropbox)

[2019-04-30 13:54] #262 closed

[2019-04-30 15:11] monzug commented on #262
Thanks!!!!

[2019-04-30 15:13] monzug opened #265 "Latin irregular verbs tables: few changes"
to do next in the Latin irregular verbs table: add all missing form for eo + odeo table + remove accent to desum
see #262

[2019-06-18 16:27] #112 closed

[2019-07-12 15:18] kirlat opened #268 "Optimize the bundle size"
Inflection tables is the largest library that bundles into the Alpheios components. Inflection tables lib is over 1MB minimzied, and that is about half of an overall size of the components lib itself. An optimization of inflection tables size may help to reduce the components' distributive size significantly.

The majority of space of inflection tables lib is occupied by the language data files th

[2019-07-17 13:15] balmas commented on #268
thanks for making these suggestions. Agree we should consider implementing one or more of these, but probably not until the next release.

[2019-09-05 14:57] balmas opened #269 "irregular tables not showing up at first"
reported by @monzug

just noticed that when I lookup (or double click ) on an irregular verb such as fero (or volo or eo)
the irregular verb table has the supine or participle tables not open saying that the table has not been implemented yet but both are. you need to click on [-] then click again on [+]  and the table is generated. this seems to happen only on the first irregular lookup. mah….
se

[2019-09-10 15:47] monzug commented on #71
we should implement this one with #252 to finish the cleaning of the irregular verbs... hopefully. @balmas?

[2019-09-10 16:55] balmas commented on #71
next release?

[2019-09-10 17:39] monzug commented on #71
sure. let's assign to me or to you just to not forget

On Tue, Sep 10, 2019 at 12:55 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-10 17:43] balmas commented on #71
ok, giving it to you then :-D

[2019-09-11 11:52] monzug commented on #252
@balmas, do we postpone or could it be done?

[2019-09-11 11:59] balmas commented on #252
I think we have to postpone unfortunately :-(. We can put it in an incremental.

[2019-09-11 12:01] monzug commented on #252
yes, pls!

On Wed, Sep 11, 2019 at 1:59 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-13 14:32] monzug opened #271 "some verb participles are missing. Need to investigate"
verbs like itus  or  venitus   which are sing. perf. pass. nom (verb participle) don't have a match in the related inflection tables. need to investigate if it's whitaker giving a wrong id or if their entries is missing.

[2019-09-13 15:25] balmas opened #272 "missing the participle table for malo (malens)"
we don't have it in the data file

[2019-09-16 13:41] monzug opened #273 "on mobile, can we open the selected table instead of the head of Inflection Browser?"
Right now, when I click to open any inflection table in the browser, it takes me to the top of the browser, rather then anchor on the selected table. tested on iPhone xr.

[2019-09-18 13:57] monzug opened #274 "deponent participle verbs should be treated as passive?"
latin deponent verbs are treated as passive while it depends on
the verb and conjugation (see naturae verb deponent 3rd conjugation, verb participle) - need to investigate

[2019-09-24 12:03] monzug commented on #252
so happy to see this one!!!! Thanks

On Tue, Sep 24, 2019 at 8:00 AM Bridget Almas <notifications@github.com>
wrote:

[2019-09-24 14:58] balmas commented on #250
dēsum is actually a different problem, I think related to the accent. Will enter a new issue for it.

[2019-09-24 14:59] balmas opened #276 "desum doesn't match dēsum inflection data"
When lookup up desum (or even dēsum) we don't get the inflection table for dēsum . I think this is because we aren't doing a model-specific compare of the word form everywhere we need to be.

_Originally posted by @balmas in https://github.com/alpheios-project/inflection-tables/issues/250#issuecomment-534598699_

[2019-09-24 15:03] balmas commented on #250
this is really a bit complicated, and I think it is actually a bug in the client-adapter code.

Here's what's happening:

the morph service (using the whitaker engine) returns the following for intersum:

[code]

One inflection, with two different lemmas

We create a Homonym, with 2 different Lexemes, but those Lexemes end up sharing an instance of the Inflection object that gets created. So, when

[2019-09-25 19:32] balmas commented on #252
qa-3.0.1.72

[2019-09-27 13:21] monzug commented on #252
ok, the sentence is gone from the inflection browser but the irregular verbs with a supine such as fero, adeo etc, do not show the inflection table any longer. if I look up for latum or venitu, there is no inflection icon in morphology pop-up. we do display the supine table for regular verbs such as actum.

[2019-09-27 13:24] balmas commented on #252
ah, nice catch. I had tested fero but not latum. Missed a spot that needs to be changed. Code is throwing an error

alpheios-inflection-tables.min.js:2 Cannot build inflection tables: TypeError: this.constructor.linkedViewConstructors is not a function or its return value is not iterable

[2019-09-27 13:35] monzug commented on #252
worse scenario we can reverse to previous build and we keep the ugly
message...

On Fri, Sep 27, 2019 at 3:24 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-27 13:41] balmas commented on #252
no it should be an easy fix. it was just an oversight.

[2019-09-27 16:50] balmas commented on #276
I believe the changes necessary for this include the following:

In LatinLanguageDataset, everywhere we compare a word to an inflection value we need to use modelCompareWord.

E.g.

```const lemma = this.irregularLemmas.get(pofs).find(item => item.word ===inflection[Feature.types.word].value)```

```this.irregularLemmas.get(pofs).some(item => item.word === inflection[Feature.types.word].value)```

[2019-09-30 11:47] #252 closed

[2019-10-01 12:30] balmas commented on #252
qa 3.0.1.74/components 1.2.50

[2019-10-01 13:40] monzug commented on #252
looks good.

[2019-10-01 13:50] monzug opened #278 "remove message for irregular verb with no participle"
related to issue #252, I just realized that verbs such as malo do not have the participle so we should remove "This table has not been implemented yet" message or just say this table is wanting

[2019-10-02 12:50] monzug opened #279 "Ancient Greek Tutorials link should open in a new window"
the Ancient Greek Tutorials link should open in a new window (this is in Credits from Greek verbs inflection tables)

[2019-10-02 13:38] monzug opened #280 "Ancient Greek Tutorials link should open in a new window"
the Ancient Greek Tutorials link should open in a new window (this is in Credits from Greek verbs inflection tables)

[2019-10-02 14:00] #280 closed

[2019-10-02 14:01] balmas commented on #279
dupe of #280

[2019-10-02 14:01] #279 closed

[2019-10-03 06:44] monzug opened #282 "need to review the noun inflection table for the LOCATIVE case"
at first glance, I found few endings that need to be updated
4th decl sing: ending should be  ī  and not  u  and apparently not plural, no endings for 5th decl and also the second decl endings need to be reviewed.

it is still used in names of cities and islands in the 1st and 2nd decl and few other words such as humi, domi and ruri

I decl:
singular Rōmae
plural Athenīs
II decl:
singular Cyprī
pl

[2019-10-03 11:41] monzug commented on #282
in the inflection tables, I would change the locative sing 2nd decl from o to ī
remove the plural locative in 3rd and 4th decl.
change the locative sing 4th decl from u to ī  (such as domī)

[2019-10-03 13:02] balmas commented on #280
Safari/FF/Chrome Webext qa-3.0.1.75/components-1.3.0 (Safari build in Dropbox)
texts-text embed-lib 3.1.1.42/components-1.3.0

[2019-10-03 14:43] monzug commented on #280
tested in FF and Chrome. we have a new window, thanks!!!

[2019-10-04 12:34] balmas commented on #282
qa-3.0.1.76/components 1.3.1

[2019-10-04 12:34] #282 closed

[2019-10-04 13:06] monzug commented on #282
tested in Safari App Extension 3.0.1.76
Alpheios Components 1.3.1

[2019-10-08 18:52] balmas opened #284 "greek noun paradigms"
requested by @vgorman1

Vanessa has requested that we add the noun paradigm tables from Mastronarde's Ancient Greek Tutorials

[2019-10-08 18:53] balmas commented on #284
desired timeframe is for these to be available by Summer 2020

[2019-10-18 14:26] monzug opened #285 "Back to Main link from Greek verbs does not work"
I think we should remove it. tested in Safari and Chrome
lookup for ξυνέηκε  and go to the Weak (1st) Aorist System Active inflection table, click on Back to main link at the bottom of the page. it will not work.

[2019-11-01 13:03] #237 closed

[2019-11-04 14:44] balmas commented on #237
qa3.0.3.87/components 1.4.5

[2019-11-04 17:05] monzug commented on #237
yes.

[2019-11-05 16:02] balmas commented on #233
this apparently wasn't fully fixed - as @monzug reports in alpheios-project/components#846, there are still some rows in this table which don't have part of speech specified.

[2019-11-05 16:07] balmas opened #287 "matching problems with verb εἰμί to be:"
an other one is related the verb   εἰμί    to be:
1) εἶναι 
2) ἔσεσθαι
the 1) does the match with the εἰμί  inflection table    <stemtype>irreg_mi</stemtype>
2) does the match with   Future System (Active and Middle) with contraction in -έω                                             <stemtype>reg_fut</stemtype> .  (an other example is ἔσεσθον)

this is a situation in which we have the exact verb

[2019-11-05 17:13] #233 closed

[2019-11-05 20:07] balmas commented on #233
should be fixed in qa-3.0.3.88/components 1.4.6

[2019-11-07 21:33] balmas opened #289 "greek noun, adjective, pronoun paradigms"
We would like to add the remainder of the paradigm tables (nouns, adjectives, pronouns) from http://ucbclassics.dreamhosters.com/ancgreek/paradigmsU/paradigms_U.html to Alpheios.

@vgorman1 has offered to help with the data entry/data conversion process.

this will require some changes to the inflection table code and we need to think about the best way to get the data.

[2019-11-08 13:50] monzug opened #290 "missing the tense and voice in Greek participle verbs (and Latin verbs too)"
lookup  κατασκευάσας     - see screenshot below

![verb-participle](https://user-images.githubusercontent.com/41396793/68480294-75564680-0202-11ea-98b5-d205a54ac0f5.JPG)

@balmas: I think because it has a case, which is overriding the voice and tense information.

Comparing with the latin verbs (e.g. reputantis), I realized that tense and voice are also missing from the latin morphology pop-up but

[2019-11-08 13:56] monzug opened #291 "No inflection icon generated for κάτεισι (Greek verb)"
double click on    κάτεισι     line 6  from  https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0096.tlg002.First1K-grc1:1-4b/
no inflection icon is generated.

the Morpheus output is the following:

<hdwd xml:lang="grc">κάτειμι</hdwd>
<pofs order="1">verb</pofs>
</dict>
<infl>
<term xml:lang="grc">
<stem>κατά:εισι</stem>
</term>
<pofs order="1">verb</pofs>
<mood>indicative</mood>
<num>singular

[2019-11-08 14:33] monzug opened #292 "repetition of the case and wrong gender for Αἰγύπτου"
double click on    Αἰγύπτου    in text environment    (Safari - Alpheios Components 1.4.7)
https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg001.alpheios-text-grc1/passage/1-30

Gen is repeated twice and also we have both the masculine and feminine when the word is feminine
see screenshot
![Screen Shot 2019-11-08 at 3 22 42 PM](https://user-images.githubusercontent.com/41396793/6848

[2019-11-08 14:41] monzug commented on #292
looking at Morpheus, we say feminine, the decl and the noun
<dict>
<hdwd xml:lang="grc">Αἴγυπτος</hdwd>
<pofs order="3">noun</pofs>
<decl>2nd</decl>
<gend>feminine</gend>
</dict>

then we say feminine and masculine again in <infl>

<infl>
<term xml:lang="grc">
<stem>Αἰγυπτ</stem>
<suff>ου</suff>
</term>
<pofs order="3">noun</pofs>
<decl>2nd</decl>
<case order="6">genitive</case>
<gend>feminine</ge

[2019-11-08 14:45] monzug commented on #292
also there is a difference in the morphology popup when I double click the above word vs when I lookup for  Αἰγύπτου

![Screen Shot 2019-11-08 at 3 44 42 PM](https://user-images.githubusercontent.com/41396793/68485006-b8cea600-023e-11ea-9d74-16cfa0e2e195.png)

[2019-11-08 14:54] monzug opened #293 "view-set constructor fails if one invalid inflection"
if I double click   οἰστροδόνου     from    Safari, Alpheios Components 1.4.7
https://texts-test.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg001.alpheios-text-grc1/passage/1-30
the output is different from the lookup - see screenshots
![Screen Shot 2019-11-08 at 3 48 18 PM](https://user-images.githubusercontent.com/41396793/68485409-8a9d9600-023f-11ea-9762-256da1dea303.png)
![Screen Shot 2019-11

[2019-11-08 15:16] monzug commented on #293
same in Chrome

[2019-11-08 15:19] monzug commented on #292
same in Chrome

[2019-11-11 15:19] balmas commented on #291
I believe we don't get a match here because our rule for the irreg_mi stemtype also specifies the headword εἰμί. And that is the verb
It would be easy enough to add another rule that says *any* word which an irreg_mi stemtype should show the εἰμί table, or alternatively to add an additional match to the εἰμί table just for the headword κάτειμι.

@monzug what do you think would be best?

[2019-11-11 15:24] balmas commented on #293
well the difference is because the text is treebanked, and the treebank data identifies the lemma as οτηερ and does not specify any morphological characteristics.  This may be an error in the treebank data, I'm not sure. It is odd that we don't get the inflection tables for the other possibilities even though we show them though. I think that might be a bug.

[2019-11-11 15:38] monzug commented on #291
I would rather go for the first solution. but I ma not so comfortable unless there is time for testing.  it would be nice to know how many irreg_mi stemtype we have in morpheus and see if the fix would work for a subset of these words. do you think it would be possible to have such a list?

[2019-11-11 15:44] balmas commented on #291
I would have to look into the data to see if I can figure that out.  I think this won't be something we try to do right now anyway so I guess we can take our time.

[2019-11-11 15:55] monzug commented on #291
agree. I did try variation of the Morpheus tool with no much luck...

On Mon, Nov 11, 2019 at 10:44 AM Bridget Almas <notifications@github.com>
wrote:

[2019-11-15 14:12] monzug commented on #276
confirm that it's still not working
![defuturus](https://user-images.githubusercontent.com/41396793/68949418-faec7000-0787-11ea-8114-fd0b752d57e6.JPG)

[2019-11-18 13:57] #276 closed

[2019-11-21 09:04] irina060981 commented on #289
@balmas, I thought about this task and I came to the following:

   We need to create the input tool that what be the most the same as in real life as it is possible (because it should be easy checked for correct data)
   According to paradigms (https://ucbclassics.dreamhosters.com/ancgreek/paradigmsU/paradigms_U.html) they are tables that could have rows/columns with labels and rows/columns with

[2019-11-21 10:23] irina060981 commented on #289
I think I need more time to look through our code and paradigm tables variants.
because for example

![image](https://user-images.githubusercontent.com/12377640/69328869-bf780700-0c9b-11ea-9c39-5cc04709051b.png)

we have 3 values inside the dual (I believe)
'n.a.v` = nominative + accusative + vocative

I need to remember/understand how it should be placed to paradigm and render it after.

[2019-11-21 11:09] irina060981 commented on #289
oh, it seems to me that we don't have similiar examples in verb paradigm

[2019-11-21 14:23] balmas commented on #289
we don't necessarily need to render it exactly as the original table. I.e. we could expand this out to separate rows for each case.

[2019-11-21 14:35] balmas commented on #289
It would be very interesting if we could add to this design an integration with the lexical query and inflection tables library that allows us to test the matching rules as we are creating or editing a table.

Right now it is very very difficult to figure out why a particular form does or doesn't produce a table and a match in that table.  If we could expose the decision points at each step in a k

[2019-11-21 14:53] monzug commented on #289
uhm, I remembered working on matching the verbs paradigms. will be happy to take a look. not sure what I need behind the scene yet.

[2019-11-21 15:03] balmas commented on #289
ideally, I'd like to design a general purpose inflection table entry/test tool that worked with all of the types of tables we support (endings, full forms, paradigms)

[2019-11-22 12:27] irina060981 commented on #289
@balmas, I started to work on the prototype and created a simple parsing of existed paradigms tables (based on the vue-cli-4) - I published on my server for now

http://alpheios-infl-check.irina-sklyarova.ru/

And I tried to check it easily - this way
for example
Future System (without contraction) (verb)
![image](https://user-images.githubusercontent.com/12377640/69425514-c58ee600-0d76-11ea-9776-

[2019-11-22 12:41] balmas commented on #289
If I understand the question correctly,  yes I would like to be able to test the table and cell matching logic.

It is a complex process that needs to be made clearer and easier to debug.

[2019-11-22 12:52] irina060981 commented on #289
ok - I will remember (examine) how it matches and will add a simple ui - for checking match

[2019-11-22 14:06] monzug commented on #289
Looking at the Future System (without contraction) table, Irina chose a good example of wrong matching. in morpheus, some of the verbs from the table have <stemtype>reg_fut</stemtype> but matching is done on <stemtype>ew_fut</stemtype>. is there a way to see the logic of the matching?

[2019-11-25 12:38] irina060981 commented on #289
ok, finally I have found the the way it chooses the paradigm table for
**βουλεύσοιτο**

at the first checking step it found that there are two paradigms fit to inflections

by part of speech - **verb** and stemtype - **reg_fut**
verbpgdm3 **Future System (without contraction) (verb)**
verbpgdm4 **Future System (Active and Middle) with contraction in -έω (verb)**

at the second checking step it cho

[2019-11-25 12:58] monzug commented on #289
so, the second checking is overriding the first one based on match order.
where is the matchOrder coming from? I mean what's the logic of matchOrder

On Mon, Nov 25, 2019 at 1:38 PM Sklyarova Irina <notifications@github.com>
wrote:

[2019-11-25 13:58] irina060981 commented on #289
MatchOrder is the property for each rule for paradigm tables
we have the following rules.csv file (the part for the following paradigms
the second value is MatchOrder
[code]

[2019-11-25 14:18] balmas commented on #289
I'm not sure if this has anything to do with why we are getting the wrong table here, but in looking at this this morning, I realized that although we have the morphflags rule (the contr in the above example) I'm not sure if we ever actually use it or not.  I think we might need to work backwards from the rules and the examples in the paradigm tables to see if we get the right results. I suspect w

[2019-11-25 15:03] monzug commented on #289
I don't think we are using the contr either.

[2019-11-25 15:13] monzug commented on #289
I think stem type is the element we should look at mainly.
see   βουλεύσοιτο     vs    ἀποθανοῖτο
1) stem type  reg_fut
derivtype    euw
does not have morph field

2) stem type    ew_fut
morph  contr
does not have derivtype field

[2019-11-25 15:24] monzug commented on #289
look at one match for    ἐλῴη
we show the Future System (Active and Middle) with contraction in -έω
stemtype      ew_fut
derivtype       allw

instead of the Future System (Active) with contraction in -άω
stem type  aw_fut
derivtype    a_stem
morph      contr

[2019-11-25 23:57] irina060981 commented on #289
There is the only match from inflection-tables workflow
**ἐλῴη**

**part of speech** - verb
**stemtype** - ow_pr
**voice** - active
matchOrder - 2

[2019-11-26 06:45] monzug commented on #289
uhm, so it's the matchOrder that may be the culprit!

[2019-11-26 12:59] balmas commented on #289
@monzug just want to be sure I understand. You are saying we should show verbpdgm3 and verbpdgm4 for ἐλῴη and not verbpdgm4 ?

If so, I think if we added use of the morph field we would get the right result. I think that might be the better solution than changing the matchOrder, because I think we may need that as a higher order for other verbs.

I think generally, the use of the matchOrder is fla

[2019-11-26 13:35] monzug commented on #289
I am looking at it right now.
βουλεύσω   is stem type   reg_fut   (does not have the morph field)     but we show the stem type ew_fut     with contr   which has matchOrder 2   (verbpdgm4 and not verbpdgm3 - I don't understand the verbpdgm numbers, though)

I did only look at one match for   ἐλῴη   (the future) and we show the wrong table. we need to show the Future System (Active) with contractio

[2019-11-26 13:46] monzug commented on #289
I am trying to understand why we have all these rules and the matches don't work
verbpdgm3	1	verb	reg_fut
verbpdgm4	3	verb	reg_fut					contr
verbpdgm3	1	verb	aw_fut
verbpdgm4	2	verb	aw_fut					contr
verbpdgm3	1	verb	ew_fut
verbpdgm4	2	verb	ew_fut					contr

[2019-11-26 14:04] balmas commented on #289
We aren't taking into account the "contr" morphflag , which might be part of the problem.  It's also possible things were working better at one point and we broke them.

@monzug maybe we should step back and come up with a list of verbs and the tables they should (and shouldn't) match?

[2019-11-26 15:14] monzug commented on #289
agree.

[2019-11-27 08:13] monzug commented on #289
Irina, could you please help me to understand the logic of matchOrder? I
did try few matches that I thought they would have failed and they worked
like a charm instead.
need to understand how the number of matchOrder have been assigned and when
is it applied in the code? Thanks

On Tue, Nov 26, 2019 at 3:04 PM Bridget Almas <notifications@github.com>
wrote:

[2019-11-27 08:27] irina060981 commented on #289
Monica, it has a quite simple logic. It asigned manually to each table.
It is a part of the `rules.csv`
And the second value (number) after paradigm's identificator is the `matchOrder`
[code]

[2019-11-27 10:28] monzug commented on #289
yes, I got that. but, I didn't get how the numbers 1,2,3,4,5 are assigned
to each stem type/table and how the matchOrder is then applied.

On Wed, Nov 27, 2019 at 9:27 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-11-27 10:56] irina060981 commented on #289
to each stem type/table and how the matchOrder is then applied.

I am not sure if I understood your question correctly, Monica.
I will try to explain the workflow in details - hope there would be the answer too :)

On the input we have inflections.
For each inflection we go through all the rules from `rule.csv`. Each rule has already matchOrder value.

For example
**ἐλῴη**

We compare all features

[2019-11-27 15:05] monzug commented on #289
Irina, we should have a conversation on  he side so I walk through what I
don't understand (matchOrder value in rule.csv). for *ἐλῴη *we pull out the
wrong table. it should be the verbpdgm5

On Wed, Nov 27, 2019 at 11:56 AM Sklyarova Irina <notifications@github.com>
wrote:

[2019-11-27 15:16] monzug commented on #289
![Screen Shot 2019-11-27 at 4 13 54 PM](https://user-images.githubusercontent.com/41396793/69735603-3f392200-1131-11ea-88e4-f37c877c53e9.png)

[2019-11-29 11:19] irina060981 commented on #289
@monzug and @balmas , I have updated my tool
http://alpheios-infl-check.irina-sklyarova.ru/

Now it could take a word and return ParadigmTables (orange - chosen by matchOrder)

![image](https://user-images.githubusercontent.com/12377640/69865752-d519ac00-12ed-11ea-80fa-699b12d840c2.png)

[2019-11-29 12:34] monzug commented on #289
Irina, tool looks good but the results for ἐλῴη are wrong for Inflection 1. let me explain it, step by step:
1) I use the morpheus tool at http://morph.alpheios.net/api/v1/analysis/word?word=%E1%BC%90%CE%BB%E1%BF%B4%CE%B7&lang=grc&engine=morpheusgrc
it returns the following:
<hdwd xml:lang="grc">ἐλαύνω</hdwd>
<pofs order="1">verb</pofs>
</dict>
<infl>
<term xml:lang="grc">
<stem>ἐλ</stem>
<suff>ῴη

[2019-11-29 23:35] irina060981 commented on #289
Or I understood the question.
The difference here is the only one
[code]

verbpdgm5 (Future System (Active) with contraction in -άω)
Has an obligatory match - dialect - `doric` or `aeolic`
But it doesn't see this dialect in our analysis.

I will check why

[2019-11-29 23:55] irina060981 commented on #289
Ok I found the problem - it is not in the rule, it is in the way we compare dialect feature
for the example for the word **ἐλᾶ**

verbpdgm5 has dialect value - `doric` or `aeolic`
inflections have - `Attic Doric Aeolic`, 'epic Doric Aeolic`
so when the compare workflow checks if they are equal - they are not equal.

[2019-11-30 01:02] irina060981 commented on #289
I have updated my code for the dialect comparision and it works well for **ἐλᾶ**
![image](https://user-images.githubusercontent.com/12377640/69893592-7db42400-135f-11ea-9d9d-b8378a7356b9.png)

But as for **ἐλῴη** it doesn't have a match for verbpdgm5,
because it has the following dialect comparision:

**ἐλῴη** homonym inflections have the following dialect values - `Attic` and `epic`
but verbpdgm5

[2019-11-30 07:48] monzug commented on #289
Irina, glad we are on the same page now. definitely dialet is the issue for ἐλῴη . next we have to look at the rules.csv and update the mess with verbpdgm3 and verbpdgm4. I need more time for this.

[2019-12-02 13:53] monzug opened #296 "Missing the inflection icon for the subjunctive aorist mp"
Related to #289
we don't show the inflection icon for any of the form of the subjunctive Strong (2nd) Aorist System Middle such as ἀγάγηται
Looking at the rules.csv the culprit could be the middle vs mp (mediopassive)
the voice mediopassive is missing from rules.csv for the verbpdgm7	- we do only have the middle voice.
I think we should add an other line in verbpdgm7 like for verbpdgm2:
verbpdgm2

[2019-12-02 14:07] balmas commented on #289
on the topic of the dialects:
(1) if we are going to include dialects in the rules, then I think we do need to fix the check so that it handles the multi-valued feature properly
(2) but if we decide to remove dialect from the rules, then it is a moot point

I am sure we had a reason at the time we made the rules to include the doric/aeolic dialect as a criteria, although it could well have been a

[2019-12-02 14:30] monzug commented on #289
we have dialects all over the place in Greek verbs but verbpdgm5  is the only one who has the dialect in rules.csv and it does not work. So, I would give a try first by removing the dialect and see if it works. I am suspicious as it's the only place where we have it.
for the verbpdgm3 and 4, I need sometimes to review it.

[2019-12-02 14:48] monzug commented on #289
an other error with the verbpdgm3 and verbpadgm4.
lookup for βουλεύσω
there are 3 tables involved:
Weak (1st) Aorist System Active
Weak (1st) Aorist System Middle
Future System (Active and Middle) with contraction in -έω
the latest should be a voice active and reg_fut  stemtype so it should open the Future System (without contraction)

[2019-12-02 15:13] monzug opened #297 "Entry cannot be found for some Greek verbs"
need to find the correct endings for the following verbs in the paradigm table as morpheus does not have these entries:
Weak (1st) Aorist System Middle optative dual 2nd, 3rd person
βουλεύσαισθον
βουλευσαίσθην
Weak (1st) Aorist System Middle imperative dual 2nd and 3rd person
βουλεύσασθον   (it goes to indicative middle not imperative)
βουλευσάσθων . (it's imperative but not dual)

[2019-12-02 15:26] monzug commented on #296
missing inflection table icon for   ἀγάγηται

<infl><term xml:lang="grc"><stem>ἀγαγ</stem><suff>ηται</suff></term><pofs order="1">verb</pofs><mood>subjunctive</mood><num>singular</num><pers>3rd</pers><tense>aorist</tense><voice>mediopassive</voice><stemtype>aor2</stemtype><morph>redupl</morph></infl>

[2019-12-02 19:10] balmas commented on #289
I think we should probably separate this issue from the ever-growing list of problems with the current rules.  Actually we probably need at least 4 issues:

1) create a tool for creating/editing and validating paradigm data files
2) add the greek noun, adjective and and pronoun paradigms (using the new tool)
3) add support for matching paradigm tables for greek nouns, adjectives and pronouns (beca

[2019-12-02 19:11] balmas opened #298 "create a tool for creating/editing and validating paradigm data files"
_Originally posted by @balmas in https://github.com/alpheios-project/inflection-tables/issues/289#issuecomment-560537644_

[2019-12-02 19:14] balmas opened #299 "paradigm matching plugin"
Add support for matching paradigm tables for greek nouns, adjectives and pronouns as well as verbs.

Because we have already ending tables for those forms, we may have some additional work to do here to be able to display both, or prefer paradigm tables when they exist.

We may implement this as plugin-module for paradigm matching which can be used with both the editing tool (#298) and the runtime

[2019-12-02 19:23] balmas commented on #289
ok, @irina060981 let's hold off on the PR for the dialect change then until we have a full list of the issues.

[2019-12-02 20:06] monzug commented on #297
see issue #289

[2019-12-02 20:08] monzug commented on #296
try again to link to issue #289

[2019-12-03 14:08] monzug opened #300 "Greek verbs: matching for verbs in verbpdgm5"
Related to  #289
verbpadgm5 is the only table with the dialects specified in rules.csv
The matching for the verbs such as ἐλῴη in the Future System (Active) with contraction in -άω table is done on verbpadgm3 or verbpdgm4 tables and not on verbpdgm5.
Suggestion: we should try to remove the dialects and see if matching works.

[2019-12-03 14:24] monzug commented on #50
related to issue #289
the original issue is about the matching of  βουλεύσεται
as per above comment, we used to get an extra table that now is gone. However the original match was done on verbpdgm3 - Future System (without contraction) - and verbpdgm9 - Weak (1st) Aorist System Middle
Unfortunately, now it's done on the  verbpdgm4 - Future System (Active and Middle) with contraction in -έω
this is

[2019-12-03 16:00] monzug commented on #297
also βουλεύθητε goes to indicative aorist passive and not imperative aorist passive as per paradigm table

[2019-12-03 16:18] monzug opened #301 "ἐγράφην vs ἐβουλεύθην disambiguation (aorist vs 2nd aorist)"
related to issue #289
see  ἐγράφην      2nd aorist indicative from verbprdg10 table
the stemtype is aor2_pass  but also the cells for the indicative
stemtype  aor_pass  are highlighted and they shouldn't.
same for   ἐβουλεύθην       indicative  from verbprdg10 table with stemtype aor_pass  but also the cells for the 2nd aorist indicative stemtype  aor2_pass  are highlighted and they shouldn't.
loo

[2019-12-04 13:40] monzug commented on #72
related to issue #289 - by changing the matchOrder to table 57, this works as it should now.

[2019-12-04 14:29] monzug opened #302 "shall we consider derivtype in the Greek verbs matching?"
related to issue #289
let's look at Perfect Active System verbpdgm11 table. there are two indicative:  1st perf. ind. and 2nd perf. ind.
lookup for λέλυκα (1st perf. ind.) or for  λέλοιπα  (2nd perf. ind.) does highlight both cells for 1st and 2nd perf. ind.
in Morpheus,   λέλυκα   has derivtype  reg_conj  and   λέλοιπα  does not have derivtype. Shall we consider the two indicative separately?

[2019-12-04 16:11] monzug commented on #216
to retest when #289 will be fixed

[2019-12-04 16:30] monzug opened #303 "missing stemtype in verbpdgm12 and verbpdgm15 tables, so all cells are highighted"
related to issue #289
lookup for  λέλυμαι  it will highlight all the cells of the 1st person indicative in the Perfect System Middle-Passive: indicative, infinitive, participle  verbpadgm12 table.
stemtype field is empty in rules.csv so it's not used but
λέλυμαι    stemtype  is   perfp_vow
πέπεισμαι   stemtype  is   perfp_d
γέγραμμαι    stemtype    is   perfp_p
πέπραγμαι    stemtype    is      per

[2019-12-05 10:58] irina060981 commented on #289
may be we should do it too (will point it here)
https://github.com/alpheios-project/components/issues/271

[2019-12-05 14:12] monzug opened #304 "any plan to support the periphrastic construction?"
periphrastic constructions contain two words instead of just one. we don't support this at the moment. Is there any plan to support this?

[2019-12-05 14:33] monzug opened #305 "should rules.csv be updated for verbpadgm13 and verbpdgm14 tables?"
related to issue #289 and issue #304
Lookup for  μεμνῶμαι which is a subjunctive 1st person singular perfect mediopassive
stemtype perfp_vow
We open two tables: the Perfect System Middle-Passive: periphrastic subjunctive, optative, imperative	and   the 	 Perfect System Middle-Passive: simple subjunctive, optative, imperative tables
this is intentionally done based on rules.csv
verbpdgm13	1	verb		m

[2019-12-05 14:37] monzug opened #306 "optative plural in verbpdgm14 should be checked as it produces no results"
related to issue #289
lookup for μεμνῄμεθα   produces no results.
need to verify the endings for this verb and also the duals of the optative plural of Perfect System Middle-Passive: simple subjunctive, optative, imperative table

[2019-12-05 15:00] monzug commented on #306
Note that duals are frequently in black and not red in the paradigm tables in https://ucbclassics.dreamhosters.com/ancgreek/paradigmsU/paradigms_U.html
maybe it means that their entries are questionable.

[2019-12-05 15:15] monzug commented on #303
similar scenario in verbpdgm15 table
in rules.csv, we ignore the stemtype for the mediopassive verbs so all cells are highlighted. However  we consider the stemtype only for the active form.
verbpdgm15	3	verb	perf_act	active		pluperfect
the other stemtype are:
perfp_vow   for    vowel stem
perfp_d       for   dental plosive stem
perfp_p       for   labial plosive stem
perfp_g      for    velar plo

[2019-12-05 15:36] monzug opened #307 "in verbpdgm16 we do highlight the periphrastic active and simple active cells"
related to issue #289  and issue #305
similar scenario to issue #305 but in this case we have only one table: verbpdgm16 Future Perfect Indicative, Infinitive, Participle table.
when lookup for τεθνήξω    simple active (rare), also the  periphrastic active cell is highlighted, which it shouldn't unless there is a good reason for it.
Not sure if we have enough information to distinguish between sim

[2019-12-05 19:02] balmas commented on #289
yes agree

[2019-12-05 19:03] balmas commented on #304
can you give me an example?

[2019-12-09 14:18] monzug commented on #304
we have few tables with periphrastic construction:
1) Perfect System Middle-Passive: periphrastic subjunctive, optative, imperative (verbpdgm13) - e.g. λελυμένος (-η) ὦ
2) the periphrastic active in the Future Perfect Indicative, Infinitive, Participle table (verbpdgm16) - e.g. λελυκὼς (-υῖα) ἔσομαι
3) subj. (periphrastic)  and optative (periphrastic) in the Perfect Active System table (verbpdgm11

[2019-12-09 15:16] monzug opened #308 "a mistake in the paradigm table for the dual indicative active of ἵστημι"
the 3rd person dual indicative active of ἵστημι (in addition to forms from ἕστηκα)   should be   ἑστάτην     and not   ἕστατον
lookup for    ἕστατον   will highlight only the 2nd person dual
lookup for    ἑστάτην   will highlight the 3rd person dual
we should correct the error on our side originated from the Athematic Perfects, table 17 in https://ucbclassics.dreamhosters.com/ancgreek/paradigmsU/p

[2019-12-09 16:35] monzug opened #309 "Need to review few forms in the θνῄσκω (in addition to forms from τέθνηκα) table"
lookup for τέθνατον (3rd dual indicative) it will highlight the 2nd dual person but it's also 3rd person. need to find out if it's a mistake in the paradigm table or missing an entry in morpheus

lookup for τέθνατε  2nd plural indicative, it produces no results

lookup for    τεθναῖτον  or    τεθναίτην  (dual),   τεθναῖμεν , τεθναῖτε  (optative poetic) it produces no results

[2019-12-10 09:16] irina060981 opened #310 "Greek Interrogative pronouns - no pronoun views"
While working on https://github.com/alpheios-project/inflection-tables/issues/289
I was not able to find examples for getting Interrogative pronouns.

For **τι**,
Indefinite Pronoun Declension

For **ποιος**, **ποια**, **ποιο**
No lexical result

For **τίνος**, **τίνων**
returns irregular instead of pronoun

![image](https://user-images.githubusercontent.com/12377640/70515342-eb8ef580-1b80-11ea-92

[2019-12-10 12:20] irina060981 opened #311 "intersum, desum - Latin Irregular Verb is not shown"
Working on - https://github.com/alpheios-project/inflection-tables/issues/289

**intersum**

It is defined as irregular from morph service
![image](https://user-images.githubusercontent.com/12377640/70528834-da52e280-1b9a-11ea-92d0-cf741f4b780b.png)

It has data in inflections forms as irregular
but it is shown as not implemented

![image](https://user-images.githubusercontent.com/12377640/7052889

[2019-12-10 12:22] irina060981 commented on #311
desum
![image](https://user-images.githubusercontent.com/12377640/70529086-767ce980-1b9b-11ea-897e-f08cd9a89de6.png)

![image](https://user-images.githubusercontent.com/12377640/70529104-7d0b6100-1b9b-11ea-9b28-5a59f0288c1c.png)

[2019-12-10 14:14] monzug opened #313 "should we add an other ending to the δέδια (in addition to forms from δέδοικα) table?"
in the paradigm table, one ending for the 2nd person imperative is missing.
lookup for    δέδιε    -     Morpheus says that it's a 2nd person imperative and 3rd person singular indicative. shall we add this ending to the existing imperative 2nd person singular  δέδιθι   ?
<infl>
<term xml:lang="grc">
<stem>δεδι</stem>
<suff>ε</suff>
</term>
<pofs order="1">verb</pofs>
<mood>imperative</mood>
<num>

[2019-12-10 14:35] monzug opened #314 "wrong endings in the paradigm table for indicative and pluperfect"
the table in question is  δέδια (in addition to forms from δέδοικα)
1) lookup for   δέδιμεν   - based on the location in the paradigm table it should be a  1st person plural indicative. in Morpheus it's an infinitive
<infl>
<term xml:lang="grc">
<stem>δέδιμεν</stem>
</term>
<pofs order="1">verb</pofs>
<mood>infinitive</mood>
<tense>perfect</tense>
<voice>active</voice>
<stemtype>perf2_act</stemtyp

[2019-12-10 14:50] balmas commented on #259
sorry @monzug this didn't make it into the latest build but it will be in the next.

[2019-12-10 15:00] monzug commented on #259
ok. no problem!

On Tue, Dec 10, 2019 at 3:50 PM Bridget Almas <notifications@github.com>
wrote:

[2019-12-10 18:20] balmas commented on #311
The issue with desum is probably a dupe of #259
The issue with intersum could be a dupe of #150

[2019-12-11 08:00] irina060981 commented on #276
Going through the closed issues - I checked this - and both
desum and defuturus
returns unplemented Verb irregular
![image](https://user-images.githubusercontent.com/12377640/70602421-1d1ac600-1c40-11ea-9c5e-16cf9fbc6254.png)

[2019-12-11 08:01] irina060981 commented on #311
And I believe this closed too
https://github.com/alpheios-project/inflection-tables/issues/276

[2019-12-11 12:52] monzug commented on #276
Irina, the fix for desum should be included in the next build. Hopefully it will work.

[2019-12-11 14:22] monzug opened #315 "in rules.csv please change acive in active in line 74"
verbpdgm34	3	verb		acive		aorist	ἵημι

[2019-12-11 14:23] monzug commented on #315
Bridget, if u want i can fix this.

[2019-12-11 14:25] balmas commented on #315
yes please @monzug

[2019-12-11 14:26] monzug commented on #315
will do next

[2019-12-11 14:32] monzug opened #316 "Missing inflection icon for few verbs in verbpdgm34"
such as      ἀφῆτε     subjunctive 2nd person plural in the ἵημι: Aorist System Active table

(ἄφ)ες      aorist imperative active 2nd sing plural in the ἵημι: Aorist System Active table

could it be related to the misspelled line in rules.csv?

[2019-12-11 15:46] monzug opened #318 "missing a match for ἀγάγῃ"
ἀγάγῃ   is  subjunctive singular 2nd aorist mediopassive with stemtype aor2
and subjunctive singular 3rd aorist active with  stemtype aor2
we do only display the Strong (2nd) Aorist System Active table and not the mediopassive.

maybe we don't show the mediopassive table because in rules.csv it says middle (line 14), verbpdgm7 table.

[2019-12-13 07:36] irina060981 opened #319 "Create tests for matching endings for non-paradigm tables"
Discussed here - https://github.com/alpheios-project/inflection-tables/pull/312
We need to create tests for checking match workflow for non-paradigm tables.

[2019-12-13 07:44] irina060981 opened #320 "Move paradigm matching cell to inflections table repo"
Discussed https://github.com/alpheios-project/inflection-tables/pull/312
https://github.com/alpheios-project/inflection-tables/issues/289
We need to move all matching logic to inflectins repo abd create tests for paradigm matching cells.

[2019-12-13 07:46] irina060981 commented on #289
Step 1 - The first bunch of tests are created

we have two additional issues
https://github.com/alpheios-project/inflection-tables/issues/319
https://github.com/alpheios-project/inflection-tables/issues/320

[2019-12-13 14:25] monzug commented on #318
also ἀγάγωμαι does not have the inflection icon (it's middlepassive but in rules.csv we say middle only)

[2019-12-13 14:29] monzug commented on #296
see related issue #318

[2019-12-13 14:44] monzug commented on #318
I think we should add an other line in rules.csv:
verbpdgm7	1	verb	aor2	middle
verbpdgm7      1(?)  verb aor2 mediopassive   subjunctive (not sure if we should specify the verb here)

[2019-12-19 13:41] balmas commented on #315
qa-3.0.4.94/components 1.5.1

[2019-12-19 13:41] #315 closed

[2019-12-27 14:25] monzug commented on #315
active has been fixed in latest build qa-3.0.4.94

[2019-12-27 14:51] monzug commented on #316
it's not related to issue #315 that has been fixed. I think the lemma should be  ἀφίημι . in  rules.csv, lemma is specified for matching table verbpdgm34 as  ἵημι  only.
also, (ἀφ)εῖμεν  should display two tables: verbpdgm34   and  verbodgm46 but only one table is displayed (and it's also 'wrong'). the stem type    irreg_mi     is ignored.

[2020-01-02 15:55] monzug opened #323 "ὁρᾱ in verbpdgm22 produces no results"
lookup for  ὁρᾱ   produces no results
it should be imperative second person singular in the verbpdgm22 table,
Present System Active of Contract Verbs in -άω
what should it go there? a mistake in the paradigm tables?

[2020-01-03 14:05] monzug commented on #313
same as issue #221

[2020-01-03 14:06] monzug commented on #221
related to issue #298

[2020-01-03 14:16] monzug commented on #221
this is still an open issue for the Present System Active of Contract Verbs in -άω (with η contraction) verbs

[2020-01-03 15:19] monzug commented on #221
e.g.     χρῆν  infinitive
table verbpdgm23 is not generated

[2020-01-03 15:28] monzug opened #324 "χρῆ greek verb keeps loading for ever"
lookup for     χρῆ   - it kept loading and loading and loading

console says:
Unhandled Promise Rejection: TypeError: e.normalize is not a function. (In 'e.normalize("NFC")', 'e.normalize' is undefined)

[2020-01-07 01:40] irina060981 commented on #289
Step 2 - Create a separate GreekParadigmDataset, place all paradigm staff to a separate folder

[2020-01-08 11:19] irina060981 commented on #324
The problem here is from morph result
https://morph.alpheios.net/api/v1/analysis/word?word=%CF%87%CF%81%E1%BF%86&engine=morpheusgrc&lang=grc&clientId=embed-lib-index-demo

![image](https://user-images.githubusercontent.com/12377640/71974117-6a4c8080-325c-11ea-9d94-cfaa9e32a814.png)

It has hdwd === 1, so it couldn't be normalized.

@balmas , I believe it should be fixed in greek morph source?

[2020-01-08 11:39] irina060981 commented on #323
This word has no results from morphology service
https://morph.alpheios.net/api/v1/analysis/word?word=%E1%BD%81%CF%81%E1%BE%B1&engine=morpheusgrc&lang=grc&clientId=embed-lib-index-demo

That's why it won't create inflectionSet and we couldn't see any inflections table.
May be it is a question to morphology service?

[2020-01-08 12:09] irina060981 commented on #318
@monzug , we could add such a rule
verbpdgm7,1,verb,aor2,mediopassive,subjunctive,,,,

And this table would be added, but it won't have a match (because verbpdgm7 has only middle)
![image](https://user-images.githubusercontent.com/12377640/71976983-71c35800-3263-11ea-8d1b-c1fde0dffbde.png)

May be we should add table for mediopassive ?

[2020-01-08 13:32] balmas commented on #323
Or @monzug  is the question whether this is really a valid form of the greek word and does it belong in the paradigm table?

I think maybe @vgorman1 might be able to help us here. Vanessa is ὁρᾱ a valid form of ὁράω ? The Mastronarde tables have this listed as the 2nd person singular imperative. Morpheus doesn't find it. Is that an error of Morpheus or the table? Thank you!

[2020-01-08 14:04] balmas commented on #324
Hmm. Yes it's an error in the morph source, but also I think the code shouldn't throw an error here. It needs to handle this scenario better. I'm not sure if that error handling needs to be in the client-adapter or the language model code or both.  Will enter a separate issue in the morph service repo for the invalid service output.

[2020-01-08 14:07] balmas commented on #324
renaming and moving this issue to the client-adapters repo for now.  May also spawn an issue for language-models.

[2020-01-08 14:14] vgorman1 commented on #323
ὁρᾶ [with a circumflex, not a long mark on the alpha) can be:
ὁράω (I know): pres subj act 1st sg (epic doric aeolic)
ὁράω (I know): pres ind act 1st sg (epic doric aeolic)

I am guessing you have a stray long mark where the circumflex belongs.

Vanessa B. Gorman
Professor of Ancient History
Department of History
619 Oldfather Hall
University of Nebraska-Lincoln
Lincoln, NE 68588-0327
https://vgor

[2020-01-08 14:45] balmas commented on #323
Thanks @vgorman1 . It could be that the long mark is what's wrong here. Morpheus tells me that ὁρᾶ with a circumflex is the forms you cite above. But it doesn't parse it as the imperative.

Is there a valid second person singular imperative form of this form?

[2020-01-08 15:08] vgorman1 commented on #323
ὅρα: (pres imperat act 2nd sg (epic)) (imperf ind act 3rd sg (homeric ionic))
ὅραε: (pres imperat act 2nd sg (epic))
ὅρη: (pres imperat act 2nd sg (epic doric)) (pres imperat act 2nd sg (doric ionic aeolic)) (imperf ind act 3rd sg (doric)) (imperf ind act 3rd sg (doric ionic aeolic))

These are the present imperative active 2nd singular. There are a bunch of others (plurals and other tenses), but

[2020-01-08 15:17] balmas commented on #323
Thank you @vgorman1 ! This is exactly what I needed :-)

@irina060981  and @monzug I think the fix here then is to remove the long accent mark from ὁρᾱ in the paradigm table. We might also want to add the alternative forms ὅραε and ὅρη to the 2nd imperative singular in that table.

[2020-01-08 16:18] monzug commented on #323
Fantastic. I did try before entering this issue all the variation of opa with accent with not much luck. Thanks.

Sent from my iPhone

[2020-01-09 03:04] irina060981 commented on #320
Merged and closed

[2020-01-09 03:04] #320 closed

[2020-01-09 03:05] irina060981 commented on #289
Step 3 - Move Paradigm Full Match check to the Inflections repo - done

[2020-01-09 04:32] irina060981 commented on #323
@balmas, do you mean to change this way ?
verbpdgm22 (Present System Active of Contract Verbs in -άω)

![image](https://user-images.githubusercontent.com/12377640/72038346-c8c13f80-32ec-11ea-863e-a0bd9538ad72.png)

[2020-01-09 09:14] irina060981 commented on #314
@balmas, I believe it is a question to Morph source - incorrect data?
Now it returns this
![image](https://user-images.githubusercontent.com/12377640/72053989-d76f1d00-3313-11ea-8957-4336e8c02b78.png)

Paradigm table looks like this
![image](https://user-images.githubusercontent.com/12377640/72054197-3c2a7780-3314-11ea-9042-0e205d0cab25.png)

[2020-01-09 09:17] irina060981 commented on #314
in Morpheus it's a second person plural imperative

Morph data
![image](https://user-images.githubusercontent.com/12377640/72054378-962b3d00-3314-11ea-8743-a86d68eb2c73.png)

Paradigm table
![image](https://user-images.githubusercontent.com/12377640/72054406-a8a57680-3314-11ea-872f-5281adcdfce7.png)

[2020-01-09 09:20] irina060981 commented on #314
Morph source doesn't return results:

δέδιᾱσῐ
ἐδεδίειμεν
ἐδεδίειτε

All of them exist in paradigm tables

@balmas, I  believe all questions if data in Morpheius is correct

[2020-01-09 09:34] irina060981 commented on #313
Now it is
![image](https://user-images.githubusercontent.com/12377640/72055622-e5726d00-3316-11ea-9fac-eddc80e9001d.png)

I could add δέδιε

![image](https://user-images.githubusercontent.com/12377640/72055666-f9b66a00-3316-11ea-9641-001bba8888c1.png)

@balmas , should I do this?

[2020-01-09 09:43] irina060981 commented on #309
Here it is Morpheius returns
![image](https://user-images.githubusercontent.com/12377640/72056326-23bc5c00-3318-11ea-8131-9c508e35fd7e.png)

And the same in inflections
![image](https://user-images.githubusercontent.com/12377640/72056373-3b93e000-3318-11ea-88ea-ee5601ddd9f2.png)

So no mistake in inflections - 2nd dual indicative in both cases

[2020-01-09 09:45] irina060981 commented on #309
Morpheius doesn't return results here

[2020-01-09 10:08] irina060981 commented on #308
![image](https://user-images.githubusercontent.com/12377640/72058034-2a000780-331b-11ea-8d3e-4421b6236717.png)

![image](https://user-images.githubusercontent.com/12377640/72058091-400dc800-331b-11ea-8b0e-6dc9248f1f64.png)

![image](https://user-images.githubusercontent.com/12377640/72058258-86fbbd80-331b-11ea-808a-6d2f06ec6bc5.png)

Tables are the same
Forms highlighted according to morph propert

[2020-01-09 12:56] balmas commented on #323
I think so, but let's see what @monzug says. I'm not sure if we want to add the additional forms into the table or not.

[2020-01-09 13:08] monzug commented on #308
The table is wrong. As said it should be ἑστάτην

Sent from my iPhone

[2020-01-09 13:12] monzug commented on #309
Irina, if you look at the poaradigm table, you will see that
τέθνατον (3rd dual indicative) Is also 3rd person. need to find out if it's a mistake in the paradigm table or missing an entry in morpheus

Sent from my iPhone

[2020-01-09 13:33] vgorman1 commented on #314
Forgive the massive message, but I am replying to the queries that came in overnight:
Δείδω
Δέδιμεν is the perf act inf of δείδω. NOT a 1st person plural.
            -- δεδίαμεν is the normal perf ind act 1st pl
            -- δείδιμεν can be a perf ind act 1st pl (epic)
Δέδιτε is the perf imperative 2nd person pl act. NOT an indicative
            In epic δείδιτε
The only duals thay show up in D

[2020-01-09 23:45] irina060981 commented on #308
@monzug , do you mean to change
dual 3rd indicative from `ἕστατον` => `ἑστάτην`
?

[2020-01-09 23:46] irina060981 commented on #309
oh, I see - then here I couldn't help with this issue

[2020-01-10 08:19] irina060981 commented on #305
I have checked the rules, I believe there is an error here,
because we have two same rules

verbpdgm13,1,verb,,mediopassive,subjunctive,perfect,,,
verbpdgm14,1,verb,,mediopassive,subjunctive,perfect,,,

@balmas , @monzug may be we should delete one of them?
or add some additional properties from verbpdgm13?

[2020-01-10 09:07] irina060981 commented on #303
I believe that this bug could be solved by adding to paradigm cell properties stem_type

for example `verbpadgm12` - first row with data
![image](https://user-images.githubusercontent.com/12377640/72140245-0e106a80-33dc-11ea-8bd1-3ad989272df4.png)

[code]

And so on. And check matching.
@balmas , what do you think?

[2020-01-10 10:02] irina060981 commented on #302
Here we could see the following in paradigm tables for the first data row
[code]
you could see that both has the same properties:

**perfect active singular 1st indicative**

according to labels they have
**1st perfect indicative	2nd perfect indicative**
but these 1st and 2nd has no connected properties for this columns,
1st and 2nd used from rows labels

I believe that here should be some additio

[2020-01-10 10:34] irina060981 commented on #301
Here it is the same situation as https://github.com/alpheios-project/inflection-tables/issues/302

indicative and 2nd aorist indicative columns have no difference from properties perspective:
[code]
aorist passive singular 1st indicative
[code]
aorist passive singular 1st indicative

@balmas and @monzug , so we should add some additional property here to distinguish them?

[2020-01-10 10:46] irina060981 commented on #300
I have made this change for the test - here it is the result
![image](https://user-images.githubusercontent.com/12377640/72147323-fdff8780-33e9-11ea-8659-9579c65458cf.png)

![image](https://user-images.githubusercontent.com/12377640/72147332-035cd200-33ea-11ea-9546-6016f3e13672.png)

This way we get
verbpdgm5 (Future System (Active) with contraction in -άω)
verbpdgm22 (Present System Active of Con

[2020-01-13 12:57] monzug commented on #300
@irina060981, Hi Irina, did you update the rules.csv file by removing the dialects? it looks like it works.

[2020-01-13 12:59] irina060981 commented on #300
Yes, I did as you told in your message, so you could check the result, @monzug .

[2020-01-13 13:00] balmas commented on #300
But I'm not sure I did a build since then...

[2020-01-13 13:01] irina060981 commented on #300
Oh, it is only in my test environment! I didn't create a PR and merge it, @balmas!

[2020-01-13 13:08] monzug commented on #323
I would definitely change  ὁρᾶ    in     ὅρα   so we can have a match. I am not pro adding the other two, though. it would be a big change from the Mastronarde tables.

[2020-01-13 13:26] balmas commented on #300
ok, so yes please do a PR :-)

[2020-01-13 13:26] balmas commented on #323
ok, let's go with what @monzug says @irina060981

[2020-01-13 13:49] monzug commented on #300
nope, but Irina tried in her environment and it worked as per screenshots.

On Mon, Jan 13, 2020 at 2:00 PM Bridget Almas <notifications@github.com>
wrote:

[2020-01-13 14:16] monzug commented on #313
I would add δέδιε to the imperative as we are looking at the same table.

[2020-01-13 14:18] vgorman1 commented on #314
--“as per δέδιᾱσῐ indicative 3rd per pl”  there is no such form [it is impossible to have an accents on the fourth syllablr from the end.  It should read δεδίασι for the perf ind act 3rd pl
--What are the two forms you are trying to find that you have as ἐδεδίειμεν and ἐδεδίειτε?

Extant forms of δείδω according to Diogenes:

δέδι': (perf ind act 1st sg) (perf imperat act 2nd sg) (perf ind act 3rd

[2020-01-13 14:33] monzug commented on #314
Vanessa, you are SUPER. will look into the table you sent to find the
missing endings.
I did install diogenes but I am missing the database. which one are you
using? THANKS A LOT

On Mon, Jan 13, 2020 at 3:18 PM Gorman Classics <notifications@github.com>
wrote:

[2020-01-13 14:35] vgorman1 commented on #314
I still have a copy of the TLG files from back when they sent them to you on a CD  I do not know if you can link up through their website now.  Since they are still upgrading Diogenes, something must work.  Holler anytime you want the same info for any other word.  It is not flawless, but it has to save you some time, and it takes me seconds to lookup.

Vanessa

Vanessa B. Gorman
Professor of Anci

[2020-01-13 14:45] monzug commented on #314
Vanessa, Thanks you so much, so kind of you.

[2020-01-13 14:50] vgorman1 commented on #314
Heh, I am going to benefit from all your hard work as much as anyone, so I am happy to help in any way.
Vanessa

Vanessa B. Gorman
Professor of Ancient History
Department of History
619 Oldfather Hall
University of Nebraska-Lincoln
Lincoln, NE 68588-0327
https://vgorman1.github.io/

From: monzug <notifications@github.com>
Sent: Monday, January 13, 2020 8:46 AM
To: alpheios-project/inflection-table

[2020-01-13 14:50] irina060981 commented on #323
Merged and closed

[2020-01-13 14:50] #323 closed

[2020-01-13 14:50] irina060981 commented on #300
Merged and closed

[2020-01-14 07:31] irina060981 commented on #38
@balmas, as I have done a lot of new tests for views and data - may be we should close this issue?

[2020-01-14 08:08] irina060981 commented on #299
@balmas ,
I have started to work on adding noun paradigms and faced with the following problem:
I was not able to find any word from the table:
https://ucbclassics.dreamhosters.com/ancgreek/paradigmsU/paradigms_U.html
that had morphology result.

So I am not sure how to create a rule for the table?
Bridget, could you help me - how to solve this problem?

[2020-01-14 10:59] irina060981 commented on #299
@balmas , I believe that
  - I am doing something wrong
  - Morpheius source doesn't have this type of words

Anyway I think that I need for the task
  - some ready rules for some tables - noun, adjectives, pronoun (I have no enough knowledge for creating them myself), or if it possible, some explanation, how I could create them myself
  - some words existed in Morpheius source for these tables to

[2020-01-14 13:11] balmas commented on #299
@irina060981 I am not sure but I think this might have been caused by the load balancer I put in front of the morph service yesterday. I am getting reports from other users and Monica that something went wrong with that. I took the load balancer away while I try to figure out the cause of the failure. I think it's working now.

[2020-01-14 13:21] monzug opened #328 "shall we add a note in the Credits that Mastronarde tables have been updated?"
I was thinking that as we are updating the paradigm tables to be more in sync with Morpheus, we should add a note in the credits, next to
Verb paradigm tables derived from Ancient Greek Tutorials, by Donald J. Mastronarde, Berkeley Language Center of the University of California, Berkeley.
©1999-2005 The Regents of the University of California.
what do you think @balmas?

[2020-01-14 13:35] monzug commented on #300
@irina060981, I just noticed that there is a comment in rules.csv file. Apparently when you removed the dialects from the file, you forget a comma at the end of line 11. Could you please check the file? Thanks

[2020-01-14 13:51] monzug opened #329 "lookup produces no results for duals optative in verbpdgm24 table"
lookup for     ὁρῴσθην     or        ὁρῷσθον    duals optative in the Present System Middle-Passive of Contract Verbs in -άω table (verbpdgm24). lexical  query produced no results. either the forms are not correct in Mastronarde table or Morpheus has different endings.

[2020-01-14 14:40] vgorman1 commented on #329
What verb?  If ὁράω, I do not think such a form exists.

ὁράω
ἑόρακα: (perf ind act 1st sg)
ἑόρακας: (perf ind act 2nd sg)
ἑόρακε: (perf imperat act 2nd sg) (perf ind act 3rd sg)
ἑόρακεν: (perf ind act 3rd sg) (plup ind act 3rd pl (epic doric aeolic))
ἑόραται: (perf ind mp 3rd sg)
ἑοράκαμεν: (perf ind act 1st pl)
ἑοράκαθ': (perf ind act 2nd pl)
ἑοράκασι: (perf ind act 3rd pl)
ἑοράκασιν: (perf ind

[2020-01-14 14:56] monzug commented on #329
yes, ὁράω: see, look

[2020-01-14 14:59] monzug commented on #329
same for  χρῴσθην    and    χρῷσθον    duals optative in Present System Middle-Passive of Contract Verbs in -άω (with η contraction)   ---  verbpdgm25

[2020-01-14 15:12] balmas commented on #38
agree

[2020-01-14 15:12] #38 closed

[2020-01-14 15:14] balmas commented on #299
(In addition, you need to test the page outside of the iframe)

[2020-01-14 15:17] balmas commented on #299
re the rules, I think to start we would match on either stem_type or lemma.  Not sure if we will be able to do more than that.

[2020-01-14 15:19] balmas commented on #328
yes, that's a good idea. Thanks.

[2020-01-14 15:34] vgorman1 commented on #329
Nothing on either of those.
To be fair, duals are pretty rare to begin with. An OPT MP dual will be astonishingly rare (I am not sure I have ever seen one for any verb).  Most forms simply will never occur in extant literature.

Vanessa B. Gorman
Professor of Ancient History
Department of History
619 Oldfather Hall
University of Nebraska-Lincoln
Lincoln, NE 68588-0327
https://vgorman1.github.io/

[2020-01-14 15:38] monzug commented on #329
Vanessa, that's my feeling too. I would rather remove them from tables than having non-existing endings.

[2020-01-14 16:08] monzug opened #330 "χρῶ does not return any results + ἐχρῶ goes to wrong table"
lookup for χρῶ  does not return any results. it should be imperative 2nd person singular in Present System Middle-Passive of Contract Verbs in -άω (with η contraction) table (verbpdgm25 table).
again, it could be an error on Mastronarde tables or Morpheus.
looking at the endings provided by Vanessa for issue #329 I could not find a 2nd person singular imperative md
the only imperative in her table

[2020-01-14 18:02] balmas commented on #318
I think maybe we should allow middle and mediopassive to be interchangeable when it comes to matching into the cells of the table if there isn't contradictory data in the inflection (i.e. middle + active would never equal mediopassive) . What do you think @monzug ?

[2020-01-14 18:29] monzug commented on #318
interesting. I thought that by adding the mediopassive line it would work. maybe we should not use the subjective field?  it does work for other verbs to have one line with middle and one with mediopassive in rules.csv.
@balmas, I am just puzzled that it does not work... I am always for the easy solution. I am afraid your suggestion would add an extra layer to an already fragile construction.

[2020-01-14 19:33] balmas commented on #318
@monzug can you give me an example of where a form reported as mediopassive matches into a middle table cell?

[2020-01-14 20:18] monzug commented on #318
in rules.csv, we have
verbpdgm25,2,verb,ajw_pr,mediopassive,,,,,
verbpdgm25,2,verb,ajw_pr,middle,,,,,

On Tue, Jan 14, 2020 at 8:33 PM Bridget Almas <notifications@github.com>
wrote:

[2020-01-14 20:20] monzug commented on #318
e.g.  ὁρῶ  is  <infl>
<term xml:lang="grc">
<stem>ὁρ</stem>
<suff>ῶ</suff>
</term>
<pofs order="1">verb</pofs>
<mood>imperative</mood>
<num>singular</num>
<pers>2nd</pers>
<tense>present</tense>
<voice>middle</voice>
<stemtype>aw_pr</stemtype>
<derivtype>a_stem</derivtype>
<morph>contr</morph>
</infl>
<infl>
<term xml:lang="grc">
<stem>ὁρ</stem>
<suff>ῶ</suff>
</term>
<pofs order="1">verb</pofs>
<

[2020-01-15 04:21] irina060981 commented on #300
@monzug , great catch! Thank you! Will fix it.

[2020-01-15 04:30] irina060981 commented on #299
great, now it is working (morphology, I mean)!

[2020-01-15 06:22] monzug commented on #300
it was github not me!

[2020-01-15 12:46] irina060981 commented on #313
Merged and closed

[2020-01-15 12:46] #313 closed

[2020-01-15 12:46] irina060981 commented on #300
Merged and closed

[2020-01-15 12:46] #300 closed

[2020-01-15 14:29] monzug opened #332 "need to investigate dual verbs in verbpdgm26 table"
Maybe I am applying the math logic to the Greek tables that do not have any logic. anyhow, I do not understand why the subjective dual is also indicative but the contrary is not true.

e.g. Present System Active of Contract Verbs in -όω, verbpdgm26 table:
δηλοῦτον    is indicative 2nd pers sing dual  and others...
δηλῶτον    is indicative and subjective 2nd pers dual and others
![Screen Shot 2020-

[2020-01-15 14:40] balmas commented on #332
Hah! I am quite sure that there is no logic in Greek :-P

[2020-01-15 14:42] vgorman1 commented on #332
No, it definitely has a logic to it.  It is just that the rules are carefully hidden in the trust of a handful of historical linguists.

Vanessa B. Gorman
Professor of Ancient History
Department of History
619 Oldfather Hall
University of Nebraska-Lincoln
Lincoln, NE 68588-0327
https://vgorman1.github.io/

From: Bridget Almas <notifications@github.com>
Sent: Wednesday, January 15, 2020 8:41 AM
To:

[2020-01-15 14:44] monzug commented on #332
same for first person plural subjective:  δηλῶμεν
2nd person plural subjective:  δηλῶτε

[2020-01-15 15:19] monzug opened #333 "Matching Duals in verbpdgm26"
the 2nd person dual optative in verbpdgm26  δηλοῖτον  produced no results. on the contrary the dual in () next to it, (δηλοίητον) has a match. would it be ok to remove the one that does not have a match?

to have a match   δηλοιήτην   3rd person dual optative should be change into   δηλοίητην   (I did apply some logic here to find the right ending. Unfortunately it does not always work!!!), the ac

[2020-01-15 16:57] monzug opened #334 "matching in verbpdgm27 Present System Middle-Passive of Contract Verbs in -όω table"
we do not have a match on the table for   δηλοῖ    2nd person sing subjective  in Present System Middle-Passive of Contract Verbs in -όω table. it's indicative mp but not subjective. I did try combinations of different accents/endings with not much luck.
also, the duals  optative do not have a match:
δηλοίσθην goes to imperative w_stem stemtype   and not to  ww_pr stemtype
δηλοῖσθον  lexical query

[2020-01-15 18:29] balmas opened #335 "remove dialect from paradigm matching rules"
we have dialects all over the place in Greek verbs but verbpdgm5  is the only one who has the dialect in rules.csv and it does not work. So, I would give a try first by removing the dialect and see if it works. I am suspicious as it's the only place where we have it.

_Originally posted by @monzug in https://github.com/alpheios-project/inflection-tables/issues/289#issuecomment-560420110_

[2020-01-15 18:31] balmas opened #336 "reduce rules for verbpdgm3 and verbpdgm4"
...
for the verbpdgm3 and 4, I need sometimes to review it, I strongly believe there should NOT be a verbpdgm3,1,verb,aw_fut,,,,,,
verbpdgm4,2,verb,aw_fut,,,,,contr,

I would do like this
verbpdgm3     1       verb reg_fut
verbpdgm4     2      verb ew_fut
verbpdgm5	3	verb	aw_fut

flag contr is not used anyway.

_Originally posted by @monzug in https://github.com/alpheios-project/inflection-tables/

[2020-01-15 18:40] balmas commented on #302
In this case, using the derivtype *would* give us an exact match with morpheus data. Whether or not the difference indicated in the is the same thing that the derivtype field actually means in the morpheus output, is not certain.

[2020-01-15 18:43] balmas commented on #302
![Screenshot from 2020-01-15 13-42-16](https://user-images.githubusercontent.com/644870/72461428-031f5680-379d-11ea-9ce8-edae167ed5f9.png)
![Screenshot from 2020-01-15 13-41-59](https://user-images.githubusercontent.com/644870/72461429-031f5680-379d-11ea-9842-d958154913dc.png)

[2020-01-15 18:52] balmas commented on #301
this one could probably be addressed by adding the stemtype to the cell data for the rows in the 2nd aorist indicative column.

[2020-01-15 18:55] balmas commented on #303
yes adding the stemtype to the cell data should help this. Similar to #301

[2020-01-15 19:06] balmas commented on #304
this one is complicated. It requires use of the surrounding context. Will defer it for now.

[2020-01-15 19:10] balmas commented on #305
I think maybe we should never match into table 13, as we don't support context-aware matching right now (per #304 ).

But it's a question of whether or not showing the periphrastic table when we can't match into it adds any value to the user.

[2020-01-15 19:27] balmas commented on #307
I think in this one, since we will not be able to match into the periphrastic column (until #304 is fixed anyway) we could address it by a flag which indicates to never match this cell. Not sure if that's a good solution or not.

[2020-01-15 19:36] balmas commented on #308
ok, per @monzug this seems to be a straightforward error in the table data.

[code]

should be changed to

[code]

[2020-01-15 20:05] monzug commented on #335
this is issue #300

[2020-01-15 20:07] balmas opened #337 "inflection browser shows indefinite data for interrogative pronoun"
I think the standard form data for the greek interrogative pronoun table is incorrect - it's showing the indefinite table instead of the interrogative

![Screenshot from 2020-01-15 15-07-31](https://user-images.githubusercontent.com/644870/72467369-c6595c80-37a8-11ea-9039-27f8fb36dcb3.png)

[2020-01-15 20:08] balmas commented on #337
see also #310

[2020-01-15 20:14] balmas commented on #310
I think we could fix this one by changing the interrogative forms in the greek prounoun forms.csv to be type irregular instead of regular.

[2020-01-15 20:16] balmas commented on #335
oops. thanks! marking as dupe.

[2020-01-15 20:16] #335 closed

[2020-01-15 20:21] #311 closed

[2020-01-15 21:07] balmas commented on #50
This is going to be covered by #336 so reclosing this issue in favor of that one.

[2020-01-15 21:07] balmas commented on #336
I'm still not convinced we shouldn't add in the morphflags here.

[2020-01-15 21:08] #50 closed

[2020-01-15 21:10] balmas commented on #225
@irina060981 this would be a good one to try to address with the refactoring of the paradigm code.

[2020-01-15 21:11] balmas commented on #235
I think this is a dupe of #225

[2020-01-15 21:11] #235 closed

[2020-01-15 21:12] balmas commented on #225
see also specifics in #235

[2020-01-15 21:13] balmas commented on #229
not really critical but a nice reduction of technical debt to include in the paradigm refactoring.

[2020-01-15 21:20] balmas commented on #284
dupe of #289

[2020-01-15 21:20] #284 closed

[2020-01-15 21:21] balmas commented on #287
see #221

[2020-01-16 06:27] monzug commented on #221
@balmas, for χρῆν infinitive (my last comment above)
table verbpdgm23 is not generated  ------ I tried different combinations and I got the match!!! as said, Mastronarde tables are not fully proofed (not that Morpheus are...)!!!!
χρῆν infinitive    should be changed into   χρᾶν   and we have the match with correct table!

[2020-01-16 10:32] irina060981 commented on #310
I have changed to this
[code]

But it didn't help - it shows only this
![image](https://user-images.githubusercontent.com/12377640/72517542-537edd00-389f-11ea-9003-4620cafcb49e.png)

I will spend more time to investigate later

[2020-01-16 13:34] balmas commented on #310
hmm. ok. sorry

[2020-01-16 13:53] vgorman1 commented on #310
The thing with τις is that, with an accent [which never changes to grave] it is an interrogative pronoun/adjective (“who, which”).  Without an accent [enclitic], it is an indefinite pronoun/adjective (“anyone, someone, anything, something”), and when that form does wind up with an accent from context, it is usually different from the accents of τίς the interrogative.  It would be better to disting

[2020-01-16 14:00] balmas commented on #221
Morpheus gives this analysis for χρᾶν

[code]

and this for χρῆν

[code]

The questions this raises for me are:

1. Are both endings attested and valid?
2. If so, are both representations of the paradigm shown?
3. Is the distinction Morpheus makes here of
stemtype ajw_pr + derivtype a_stem for χρᾶν vs stemtype aw_pr + derivtype av_stem for χρῆν meaningful from a linguistic perspective? What about

[2020-01-16 14:22] monzug commented on #221
well, when I try to find a match, I look for a pattern (ὁρᾶν in this case) and  at the translation of the verbs: fall, proclaim and scrape.

[2020-01-16 14:22] vgorman1 commented on #221
I think you are just dealing with the differences in dialect [alphas and epsilons often switch in different dialects of Greek). Normally when the alpha contracts with another vowel, it turns to an eta (especially in Ionic), but in Doric it will often keep the alpha, and in attic, if it comes after a rho, it usually keeps the alpha [which becomes long and so changes the accent].  I do not know anyt

[2020-01-16 14:29] vgorman1 commented on #221
Bob just pointed out to me.  There are a bunch of words that LOOK like alpha contracts, but normal alpha contracts have short alphas.  A handful of them, like χρὰω, have a LONG alpha in the root, and that messes everything up. E.g., διψάω, πεινάω, σμάω, κνάω, etc.  The good news is that χράω is the only one that is anything like common.

Vanessa B. Gorman
Professor of Ancient History
Department of

[2020-01-16 18:14] balmas commented on #290
@monzug Yes, we currently don't show tense and voice if there is a case.
Are you suggesting we show it in both the popup and the table, or just the popup?

[2020-01-16 18:20] balmas commented on #291
see related item #287

[2020-01-16 18:36] monzug commented on #290
we had a discussion at that time. would say just pop-up? maybe vanessa could give her opinion. we can ask at the call. what do you think?

[2020-01-16 18:45] vgorman1 commented on #290
I am not entirely sure what the question is.
Certainly all participles, as verbal adjectives, have to be identified in the morphology by number, gender, and case (like an adjective) but also by tense and voice (like a verb).  That said, they decline like regular adjectives, depending on the tense and voice: some are 3rd declension adjectives and some are 3-ending 1st and 2nd declension adjectives.

[2020-01-16 18:51] vgorman1 commented on #290
BTW, look at Smyth 394-395 on the subject of χράω and, the one I forgot, ζάω. :
394
Ten verbs in -αω show η where we expect ᾱ. These are διψῶ thirst, ζῶ live, πεινῶ hunger, κνῶ scrape, νῶ spin (rare), σμῶ wash, χοῶ give oracles, χοῶ am eager for (rare), χρῶμαι use, and ψῶ rub. See 641<https://grammars.alpheios.net/smyth/xhtml/body.1_div1.2_div2.10.html#s641>,
395
ζῶ live and χρῶμαι use are inflect

[2020-01-16 18:56] monzug commented on #290
vanessa, I have the smith next to me and consulting it for the to be verb.
will also look at the section above

On Thu, Jan 16, 2020 at 7:51 PM Gorman Classics <notifications@github.com>
wrote:

[2020-01-16 18:59] balmas commented on #293
the lack of a part of speech in the treebank data is causing the view-set constructor to fail in the following code:

[code]

Since the homonym does contain some valid inflections, it should succeed and just ignore the invalid ones.

[2020-01-16 19:00] balmas commented on #293
I will enter an issue in the treebank-data repository to report the invalid data for this word too.

[2020-01-16 19:15] balmas commented on #296
yes, adding

```verbpdgm7,1,verb,aor2,mediopassive,,,,,```

to the rules file would probably make sense here.

[2020-01-16 19:35] balmas commented on #310
we do have both tables here, but we aren't showing the right one. I think it's just a logic error on our side.

We also (for better and worse) ignore accents in the lookups in morpheus, so we get both possibilities in the popup.

[2020-01-16 19:59] balmas commented on #314
ok, so summary of where we are with this one:

1) we have identified a few change we want to make to the Mastronarde tables Athematic Perfects- δέδια table (17b)

perf ind act 1st pl CHANGE δέδιμεν to δεδίαμεν
perf imperative 2nd person pl ADD δέδιτε
perf ind act 2nd person pl  CHANGE  δέδιτε to δεδίατε
plup ind act 1st pl CHANGE ἐδεδίειμεν to ἐδείδιμεν
plup ind act 2nd pl CHANGE ἐδεδίειτε to ἐδεδ

[2020-01-16 20:12] monzug commented on #314
will review them tomorrow. just one thing. should we add an asterisk to the
forms that we modify in Mastronarde tables (to keep tracks of changes or
for 'copyright' issues, if any)?

On Thu, Jan 16, 2020 at 8:59 PM Bridget Almas <notifications@github.com>
wrote:

[2020-01-16 20:17] balmas commented on #314
hmm. probably. although I know we already made other changes that we didn't track that way.

[2020-01-16 20:23] monzug commented on #314
so maybe just a disclaimer under the mastronarde credits would do it. I did
enter a github for this yesterday.

On Thu, Jan 16, 2020 at 9:17 PM Bridget Almas <notifications@github.com>
wrote:

[2020-01-16 21:00] balmas commented on #316
(1) it would probably be good to show the tables for ἵημι (e.g. verbpdgm34) for its compounds (not sure that's what they are called) such as ἀφίημι. This is similar to the issue in #291

(2) Some forms of ἀφίημι. from table 34 produce matches on aorist system tables 6-9 because they are reported by morpheus as stemtype aor2 (e.g. ἀφείην and ἀφεῖμεν) or aor1 (e.g ἀφῆκα). Others such as ἄφες and ἀφῆ

[2020-01-16 21:04] monzug opened #339 "missing forms in the verb εἰμί (be)"
related to issue #287

1) missing one form of verb to be from Mastronarde table which is present in Smith and Morpheus
ἔστωσαν      imperative plural 3rd pers present, stemtype irreg_mi

2) missing  2nd person dual  imperfect    ἦτον  in Mastronarde table, this form is present in Smith but not in Morpheus

3) missing 3rd person dual imperfect   ἤτην  in Mastronarde table. this form exist in both S

[2020-01-16 21:06] monzug commented on #287
while entering issue #339, I added this comment to my note: when we have the line <hdwd xml:lang="grc">εἰμί</hdwd>and reg_fut, we should send to the irreg_mi

[2020-01-16 23:30] irina060981 commented on #303
Merged and closed

[2020-01-16 23:30] #303 closed

[2020-01-16 23:31] irina060981 commented on #308
Merged and closed

[2020-01-16 23:31] #308 closed

[2020-01-17 07:17] irina060981 commented on #302
Bridget, I have tried to add `derivtype` this way
[code]
But I faced with this limitation of our code:
when we define the match:
   - we get all cell features
   - we check each inflection with this feature
     if there is no such feature - then this check is ignored

This way we get this result

![image](https://user-images.githubusercontent.com/12377640/72591613-51268c80-394c-11ea-8121-5640cc99

[2020-01-17 13:02] balmas commented on #302
let's hold off on this for now. I think we are going to need to have to rethink some of our matching logic for the paradigms so until then I think we should just fix the things that we are sure of and hold off on the others.

[2020-01-17 14:31] monzug commented on #316
2) would it make any better to specify more than 1 stemtypes and more lemmas for verbpdgm34?
sing indicative is aor1
duals indicative are in Morpheus optative aor2 and irreg_mi
plural indicative ἀφεῖμεν is in morpheos optative aor2 and irreg_mi
ἀφεῖσαν 2nd person plural indicative is verb participle in Morpheos
Having some doubts on the validity of the indicative. will try to find something on smi

[2020-01-17 15:42] monzug commented on #314
1)   yes to all  +  ADD δέδιμεν to the infinitive
2) CHANGE 3rd person plural indicative from δέδιᾱσῐ(ν)    to    δεδίασι(ν) as per Morpheos and per Vanessa's table --- δεδίασι: (perf ind act 3rd pl)
 δεδίασιν: (perf ind act 3rd pl)
3) I found a note on Smyth that could be relevant. going to try now.

[2020-01-17 16:03] balmas commented on #314
@monzug did you mean to close this?

[2020-01-17 16:04] monzug commented on #314
nope!!!!! sorry, I wanted to save my comments

[2020-01-17 16:34] balmas commented on #316
yes, I am leaning in the direction of showing more tables, rather than less. Something I want to discuss with Vanessa next week.

[2020-01-20 02:11] irina060981 commented on #296
Merged and closed

[2020-01-20 02:11] #296 closed

[2020-01-20 12:59] monzug commented on #296
Irina, does it work in your test environment? Thanks for taking care of this issue.

[2020-01-21 04:28] irina060981 commented on #296
Monica, it looks like this

for `ἀγάγηται`

![image](https://user-images.githubusercontent.com/12377640/72775449-1bd6b300-3c5a-11ea-961e-ba487f8fedc4.png)

for `ἀγάγῃ`

![image](https://user-images.githubusercontent.com/12377640/72775495-4f194200-3c5a-11ea-908b-d9ec097965b3.png)

[2020-01-21 04:29] irina060981 commented on #318
I belive we could close it too - it was fixed within https://github.com/alpheios-project/inflection-tables/issues/296

ἀγάγῃ

![image](https://user-images.githubusercontent.com/12377640/72775528-6f490100-3c5a-11ea-82fb-067591b700c8.png)

@monzug and @balmas , what do you think?

[2020-01-21 06:16] monzug commented on #296
Fantastic. Thanks

[2020-01-21 06:20] monzug commented on #318
great. I thought it would work by adding the mediopassive line. I will reassign to me so to verify. Thanks.

[2020-01-21 06:22] irina060981 commented on #318
Thank you, Monica!

[2020-01-21 06:46] irina060981 commented on #301
It would be then this way

![image](https://user-images.githubusercontent.com/12377640/72781628-79282f80-3c6d-11ea-833c-59ae99039512.png)

![image](https://user-images.githubusercontent.com/12377640/72781606-6c0b4080-3c6d-11ea-847b-65bf188d3d5f.png)

![image](https://user-images.githubusercontent.com/12377640/72781645-85ac8800-3c6d-11ea-86b7-c86f06b1bce3.png)

![image](https://user-images.githubus

[2020-01-21 06:58] monzug commented on #301
fantastic. looks like it works!

[2020-01-21 11:31] irina060981 commented on #293
I found what should be fixed here.
Would be this way

![image](https://user-images.githubusercontent.com/12377640/72801539-69244600-3c95-11ea-88c0-59d50b87f1ad.png)

[2020-01-22 11:51] irina060981 commented on #310
@balmas , I looked to morpheius results more attentive.
https://morph.alpheios.net/api/v1/analysis/word?word=%CF%84%CE%AF%CE%BD%CE%BF%CF%82&engine=morpheusgrc&lang=grc&clientId=embed-lib-index-demo

[code]

We get `irregular` for the `part of speech`. So I belive we couldn't get any inflection table for this inflection.
So we need to update it in Morpheius source.

[2020-01-22 11:54] irina060981 commented on #310
And for the second inflection we get
[code]

That's why we have indefinite pronoun table.

[2020-01-22 12:32] irina060981 commented on #336
@balmas and @monzug , I have made this changes -
i have put only this
[code]

And made some lookups - look like it works well

![image](https://user-images.githubusercontent.com/12377640/72894143-6180a200-3d66-11ea-8c65-dee2315fe1c4.png)

![image](https://user-images.githubusercontent.com/12377640/72894224-8c6af600-3d66-11ea-8036-55f0750f269b.png)

(but here we have not all correct match)

![image

[2020-01-22 12:33] irina060981 commented on #336
@balmas , @monzug
I have found such a rule

``
verbpdgm3,3,verb,aor_pass,passive,,future,,,
``

between `verbpdgm10` and `verbpdgm11`

May be it mistake?

[2020-01-22 13:13] monzug commented on #336
no, it's not. it's for the future passive such as βουλευθήσομαι   and it works. will check your screenshots.

[2020-01-22 13:48] monzug commented on #336
it looks like it works well except for the reg_fut. as u can see in the screenshots the active participle and middle participle are also highlighted and they should NOT. there is a rules.csv for the verb_participle too but the exampls in the screenshots are NOT verb_participle.  any idea what else has changed?
also, I don't know if the match order should be 1,2,3 or just 1 for all the 3 tables suc

[2020-01-22 18:08] balmas opened #342 "greek paradigms - issue summary"
I think the *existing* problems we have found with the Greek paradigms generally fall into one of these categories:

1) A form included in a paradigm table is questionable (maybe projected and not actually attested in the literature).

2) Forms attested in the literature are missing from a paradigm table (maybe because of a dialectical variation)

3) Morpheus fails to analyze a form so we can't ma

[2020-01-22 18:10] vgorman1 commented on #342
Isn’t Greek fun?

Vanessa B. Gorman
Professor, Ancient History
Undergraduate Chair
Dept. of History
University of Nebraska-Lincoln
619 Oldfather Hall
Lincoln, NE 68588-0327

From: Bridget Almas <notifications@github.com>
Sent: Wednesday, January 22, 2020 12:09 PM
To: alpheios-project/inflection-tables <inflection-tables@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [a

[2020-01-22 18:24] monzug commented on #342
well, it's all correct but it sounds worse that it is in reality. Most of the time the match works and works beautifully!!!!! and yes, Greek is really interesting

[2020-01-22 18:29] balmas commented on #342
All of that said, even if the morpheus data and the paradigm table was "perfect" it is probably not possible to devise rules that work all the time for all forms.

I would like us to consider the following questions

1) Should back off of trying to match forms to tables entirely, and just show the user all of the paradigms and let them figure out for themselves which one applies?

2) Should we try

[2020-01-22 18:31] balmas commented on #342
@monzug @vgorman1 and @irina060981 these questions are the ones I would like us to discuss tomorrow, with a specific goal of identifying what is the minimum functionality wrt to the inflection tables that Vanessa needs working for the fall semester.

[2020-01-22 23:40] irina060981 commented on #301
Merged and closed

[2020-01-22 23:40] #301 closed

[2020-01-22 23:40] irina060981 commented on #293
Merged and closed

[2020-01-22 23:40] #293 closed

[2020-01-23 09:58] irina060981 commented on #336
@monzug, according to the following definition for the `active participle`
[code]

it would be highlighted for
`future, active`
and that's all
we have inflection with future and active.
We don't have `"part of speech": "verb_participle",` condition here.

[2020-01-23 11:50] monzug commented on #336
right now, if I lookup for    βουλεύσω  in the release build, it shows the following (your first screenshot):
![Screen Shot 2020-01-23 at 12 47 24 PM](https://user-images.githubusercontent.com/41396793/72982073-8d3f6e80-3dde-11ea-9e57-a60ade58fbfc.png)
the table is wrong and this issue will fix that, but you can see that the active participle is not highlighted. so, why is that in your environment

[2020-01-23 12:39] monzug opened #343 "Optative in τίθημι: Present System Middle-Passive"
Some endings in the Optative for verbpdgm29 τίθημι: Present System Middle-Passive table are missing in Morpheus, except for the first person singular and the first person plural.
I did also check the Goodell grammar and there are the same endings as in Mastronarde tables. Morpheus or Mastronarde?

[2020-01-23 14:16] monzug commented on #343
actually this optative table is identical to the one in Smith (page 125)

[2020-01-23 14:39] balmas commented on #342
Summary of decisions from today's discussion:

1) More useful than perfect matching of a specific form correctly to a specific tables would be to group the paradigm tables by type of verb, similar to the way they are presented in Smyth and other grammars, and then match a form to the corresponding group.

2) Including dialectical variants in the tables or matching perfectly on them is not a priori

[2020-01-23 15:36] balmas commented on #342
forgot one more for @vgorman1 :  provide list of common greek contractions

[2020-01-23 15:59] balmas commented on #298
ok per #342 we will defer this one for now.

[2020-01-23 16:58] balmas commented on #343
so @monzug it sounds like we should note the forms that are missed by Morpheus here?

[2020-01-23 17:00] balmas commented on #339
We should add a new issue to morphsvc to note the missed form.

[2020-01-23 17:13] balmas commented on #310
Ah, I was thinking that this worked the way the latin verbs did, where we have an irregular conjugation. We can probably work around this issue in the client adapter.   Assigning this one to myself to investigate.

[2020-01-24 14:05] monzug commented on #343
Lexical query produced no results in Morpheus
τιθεῖο           2nd person singular optative
τιθεῖσθον    2nd person dual optative
τιθεῖσθε      2nd person plural optative
τιθεῖντο      3rd person plural optative

τιθεῖτο 3rd person singular optative goes to an other table as stemtype is ew_pr and not emi_pr

[2020-01-24 14:10] vgorman1 commented on #343
I don’t know what voice and tense you are looking for, but according to Diogenes, the only second person optatives of τίθημι that are attested are::
τιθείης: (pres opt act 2nd sg)
τιθείητε: (pres opt act 2nd pl)
τιθείητον: (pres opt act 2nd dual)
τιθεῖτε: (pres opt act 2nd pl)

Vanessa B. Gorman
Professor of Ancient History
Department of History
619 Oldfather Hall
University of Nebraska-Lincoln
Li

[2020-01-24 14:17] monzug commented on #343
yes, we have those endings in the active forms. the ones above are for the middle passive. Thank u!

[2020-01-24 14:20] balmas commented on #304
This is also requested in alpheios-project/morphsvc#25

[2020-01-24 19:42] balmas commented on #293
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-24 19:42] balmas commented on #296
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-24 19:43] balmas commented on #308
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-24 19:44] balmas commented on #313
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-24 19:45] balmas commented on #320
will be tested generally with regressions.

[2020-01-24 19:46] balmas commented on #300
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-24 19:47] balmas commented on #323
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-24 19:48] balmas commented on #303
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-24 19:48] balmas commented on #301
webextension 3.0.6-qa.1 (components 1.6.0-dev)

[2020-01-27 13:45] monzug commented on #301
tesed in Chrome Alpheios Reading Tools 3.0.6.97
Alpheios Components 1.6.0-dev
works beautifully. thanks

[2020-01-27 14:40] monzug commented on #303
tested in Firefox  Alpheios Reading Tools 3.0.6.97
Alpheios Components 1.6.0-dev

[2020-01-27 14:46] monzug commented on #323
perfect! thanks
tested in Firefox  Alpheios Reading Tools 3.0.6.97
Alpheios Components 1.6.0-dev

[2020-01-27 14:53] monzug commented on #300
tested in Firefox  Alpheios Reading Tools 3.0.6.97
Alpheios Components 1.6.0-dev

[2020-01-27 15:11] vgorman1 opened #345 "common contractions uncontracted"
FORM | alt forms |   |   | UNCONTRACTED |   
-- | -- | -- | -- | -- | -- | --
διόπερ |   |   |   | διὸ + περ |   |  
ἔγωγε | ἔμοιγε |   |   | ἐγώ + γε |   |  
ἐπειδή |   |   |   | ἐπεί + δή |   |  
ἐπειδήπερ |   |   |   | ἐπεί + δή + περ |   |  
ἐπείπερ |   |   |   | ἐπεί +  περ |   |  
ἤτοι |   |   |   | ἤ + τοι |   |  
κἀγὼ | κἀμὲ |   |   | καί + ἐγώ |   |  
καίτοι |   |   |   | καί + τοι |   |

[2020-01-27 15:31] balmas commented on #345
thank you!

[2020-01-27 16:01] monzug commented on #313
tested in Firefox  Alpheios Reading Tools 3.0.6.97
Alpheios Components 1.6.0-dev

[2020-01-27 16:29] balmas commented on #345
@vgorman1 are these all examples of Crasis -- i.e. as described at Smyth 62 ? https://grammars.alpheios.net/smyth/xhtml/body.1_div1.1_div2.2.html#62

[2020-01-27 16:50] monzug commented on #318
fixed by #296

[2020-01-27 16:50] #318 closed

[2020-01-27 16:51] balmas commented on #345
And, what do you think would be the best way to present these to the user?

I'm thinking that perhaps we want first to show the word as it appeared, with a "definition" similar to what Logeion has for κἀγώ ( i.e. "Att. crasis for καὶ ἐγώ."), with "crasis" linked to Smyth 62, and then also show the results of the 2 combined words.

Does that seem right?

[2020-01-27 16:52] monzug commented on #296
tested in Chrome and FF  Alpheios Reading Tools 3.0.6.97
Alpheios Components 1.6.0-dev

[2020-01-27 16:56] monzug commented on #308
YES, thanks!

[2020-01-27 17:16] monzug commented on #293
to test this one I need the latest build of the tools. unfortunately when I type texts-test.alpheios.net it does automatically redirect to test.alpheios.net which run the release version, Alpheios Embedded Library 3.1.4.45
Alpheios Components 1.4.7

[2020-01-27 17:37] vgorman1 commented on #345
Yes, Smyth 62.  I limited to things with no separate lemmas in Smyth.  I am sure there are others, but these are the ones occurring more than 100 times in the extant Greek corpus, so it is a good place ot start.

Vanessa B. Gorman
Professor, Ancient History
Undergraduate Chair
Dept. of History
University of Nebraska-Lincoln
619 Oldfather Hall
Lincoln, NE 68588-0327

From: Bridget Almas <notificati

[2020-01-27 17:38] vgorman1 commented on #345
Sounds perfect.

Vanessa B. Gorman
Professor, Ancient History
Undergraduate Chair
Dept. of History
University of Nebraska-Lincoln
619 Oldfather Hall
Lincoln, NE 68588-0327

From: Bridget Almas <notifications@github.com>
Sent: Monday, January 27, 2020 10:51 AM
To: alpheios-project/inflection-tables <inflection-tables@noreply.github.com>
Cc: Vanessa Gorman <vgorman1@unl.edu>; Mention <mention@norepl

[2020-01-27 17:48] balmas commented on #345
ok, thanks this is very helpful!

[2020-01-27 18:18] monzug commented on #337
The following scenario could be a side effect of this:
it looks like we are missing an expand button when I lookup for τισίν
see screenshots of the table from the browser and the table from inflection
if I lookup τισί, then the two tables (one from the browser and the other from inflection) are identical
![indefinite-pronoun-inflection](https://user-images.githubusercontent.com/41396793/73201673-8

[2020-01-28 11:28] irina060981 commented on #289
Step 4 - Add Greek Noun Paradigms

[2020-01-28 11:34] irina060981 commented on #289
While adding noun paradigms I faced with a small problem with
**Nouns with Contraction: O-Declension (nounpdgm15)**

I have checked all the words from the second column and found
that most of them have
`stemtype = oos_oon`
`lemma = περίπλους`

but all of them are adjectives and have `declension = 1st & 2nd`

So I have no examples for this column
I have put for now and have examples for the first a

[2020-01-28 12:27] monzug commented on #289
I found  ὀστέον  stem_type eos_eou  + 3 others but I haven't lookup for them yet
in my Smith  περίπλους  is listed in the irregularities

[2020-01-28 13:44] monzug commented on #289
1) πλόος   stem_type <stemtype>oos_oou</stemtype>
2) ῥοῦς   <stemtype>oos_oou</stemtype>
3) άδελφιδοῦς   does not exist in Morpheus

περίπλους in both grammars is listed as a noun

[2020-01-28 15:17] monzug commented on #339
Looking at the online Smyth (not Smith),:
1) ἔστωσαν imperative plural 3rd pers present, stemtype irreg_mi --- in Smyth, it's note a: it says that occurs in Plato e Demosthenes.
2) and 3) not in Smyth
4) not in Smyth
5) this is present in the Future in Smyth:  ἔσῃ (or ἔσει )
8) future optative is present in Smyth -- opt. ἐσοίμην
in Morpheus it goes to reg_fut

[2020-01-28 23:42] irina060981 commented on #289
1. morph service returns for **περίπλους**
https://morph.alpheios.net/api/v1/analysis/word?word=%CF%80%CE%B5%CF%81%CE%AF%CF%80%CE%BB%CE%BF%CF%85%CF%82&engine=morpheusgrc&lang=grc&clientId=embed-lib-index-demo

![image](https://user-images.githubusercontent.com/12377640/73315158-1a6d4200-427b-11ea-88ce-f0120d1d2149.png)

it is adjective there

2. for **πλόος**
https://morph.alpheios.net/api/v1/anal

[2020-01-29 06:52] monzug commented on #289
I think it's a mistake in Morpheus to list περίπλους as an adjective. it's true that many nouns can also be adjective in Greek language though. so, this can be reported as a Morpheus mistake as both grammars listed as a noun.  I would not add any other example to the table because there are only few nouns with Contraction O-Declension (or so I did understand). in Smith this word is an irregulariti

[2020-01-29 13:08] balmas commented on #289
Let's keep the table as-is and we can add an issue to add another parse for περίπλους as a noun.

[2020-01-29 13:19] vgorman1 commented on #289
According to the LSJ:
περίπλοος, ον, contr. περί-πλους, ουν, sailing round, ἡγητὴρ π. AP9.559<javascript:%20void%200;> (Crin.).II. Pass., that may be sailed round, π. ἐστὶν ἡ γῆ Th. 2.97<javascript:%20void%200;>; κολωνός Philostr.Im.2.17<javascript:%20void%200;>.III. τὸν Ἰσθμὸν περίπλουν ἐργαζόμενος making it a passage by water, Id.VA4.24<javascript:%20void%200;>.IV. enfolding, σὺν λοβοῖς πολλάκις

[2020-01-29 13:44] monzug commented on #289
in Smyth, we have more endings for περίπλους which are all noun in Morpheus.:
περίπλοοσ is nom, περιπλόου  is gen,  περιπλόῳ  is dat, περίπλοο-ν  is acc., περίπλοε  is voc.
Duals are  περιπλόω (nom. voc. acc.) and περιπλόοιν (gen. dat.)
Plurals: περίπλοοι (nom. voc.), περιπλόων (gen.), περιπλόοισ (dat.), περιπλόουσ (acc.).
shall we add these extra endings only for περίπλους? the stem_type is <stem

[2020-01-29 14:08] vgorman1 commented on #289
In a quick spot-check, it is very difficult to find the word used as an adjective, except occasionally in very late authors.  You are probably safe staying with this paradigm.

Vanessa B. Gorman
Professor of Ancient History
Department of History
619 Oldfather Hall
University of Nebraska-Lincoln
Lincoln, NE 68588-0327
https://vgorman1.github.io/

From: monzug <notifications@github.com>
Sent: Wednes

[2020-01-29 14:51] monzug commented on #333
looking at Smyth, table 162, the endings match the ones in Mastronarde table. the only difference is in the parenthesis. again, Morpheus is missing the duals. Vanessa said that the duals optative are very rare, anyhow. I would not do anything with this table unless we want to clean up the parenthesis that are confusing. See screenshot from table 162 in Smyth
![smyth- table-162](https://user-images

[2020-01-30 14:19] monzug commented on #238
this is a duplicate of https://github.com/alpheios-project/inflection-tables/issues/221

[2020-01-30 14:19] #238 closed

[2020-01-30 14:28] monzug commented on #337
it looks to me that the two tables have merged in the above example.

[2020-01-30 16:26] monzug commented on #297
comparing Mastronarde tables with Smyth and Smith tables, VOICE OF λύ̄ω
the endings are the same in all tables so again this looks more like a Morpheus problem.  The only ending that I am not convinced is βούλευσαι imperative 2nd person singular middle that in Smyth and Smith it would be more like λῦσαι  (βουλεῦσαι) but in Morpheus we have a match.

for βουλεύθητε  aorist passive I haven't found a

[2020-01-31 13:39] balmas commented on #343
So @monzug I wonder, should we have a policy that if they aren't attested in the TLG corpus per Diogenes, and morpheus doesn't have them, but the table does, that we just add a footnote to the forms in the table that says they may not be attested?

[2020-01-31 13:47] balmas commented on #342
design will be documented via alpheios-project/documentation#24

[2020-01-31 13:48] balmas commented on #342
this is done in #345

[2020-01-31 13:50] balmas commented on #342
done via #347  and #284

[2020-01-31 14:08] monzug commented on #343
Vanessa suggested that Smyth should be our bible. what I am doing is to check against Smyth (and sometimes Smith too) the issues with Greek questions status.  Tables have to match Smyth but not necessary Morpheus. If they do not match Morpheus, then it's a Morpheus-data-questionable issue.
table 208 Present Optative (Smyth)
S.
1. τι-θεί-μην
2. τι-θεῖ-ο
3. τι-θεῖ-το
D. 2. τι-θεῖ-σθον
3. τι-θεί-σθην

[2020-01-31 14:28] balmas opened #348 "Greek verb paradigm table groupings"
Per #342 we should investigate if/how to better present the Greek verb paradigm tables.

[2020-01-31 14:30] balmas opened #349 "show principal parts of greek verbs"
Per #342 it would be helpful to show the principal parts of greek verbs

[2020-01-31 14:30] balmas commented on #342
separate issues entered for all action items. closing this one now.

[2020-01-31 14:30] #342 closed

[2020-02-01 14:01] vgorman1 opened #350 "Ἀθήναιος is not a form"
The morphological analyzer sometimes offers as a lemma for forms of "Athenian" [which, BTW, it gives no definition for] the correct lemma Ἀθηναῖος, but also often offers the non-existent lemma Ἀθήναιος. This has been an issue since we started with Arethusa.

[2020-02-01 16:04] vgorman1 opened #351 "καταλείπω"
Forms of καταλείπω have no definition given and are directed to see καταλιμπάνω.  The former is the common word, used quite a lot [to leave behind, bequeath, abandon].  The latter is a very late form that is hardly ever used.  It should point the other way [forms of καταλιμπάνω should point to καταλείπω], which is what the LSJ itself does.

[2020-02-01 16:24] vgorman1 opened #352 "σμικρός"
σμικρός is offered as an alternative lemma for the various forms of μικρός, and there is NO DEFINITION GIVEN.  Instead, μικρός should not point to σμικρός.  Rather, any forms of σμικρός should point to μικρός, as in the LSJ:
σμῑκρός, σμῑκρότης, σμῑκρόφθαλμος, v. μικρ-ός, μικρότης, μικρόφθαλμος.

[2020-02-01 16:36] vgorman1 opened #353 "ὅλοξ"
ὅλοξ does not have a lemma in the LSJ and there is not such form in all Greek as far as I can tell. I think it is a typo in Morpheus.  Forms of ὅλος get pointed to it with No Definition Given.   ὅλοξ should be deleted from the system.

[2020-02-03 00:37] irina060981 commented on #289
Step 4 - Add Greek Noun Paradigms - Done
Step 5 - Add Greek Adjective Paradigms - Done

[2020-02-03 14:09] monzug commented on #316
going back to 2),  ἀφεῖμεν  generates only one table, 6. Strong (2nd) Aorist System Active.
in Morpheus it's a <hdwd xml:lang="grc">ἀφίημι</hdwd>, <stemtype>aor2</stemtype>, aorist, active and <stemtype>irreg_mi</stemtype>, aorist, active
Looking at the table we should NOT generated the irreg_mi table because it's not aorist (no table verbpdgm46), but only verbpdgm34. if we fix 1) with issue #291,

[2020-02-03 14:14] monzug commented on #291
if we add the headword κάτειμι to rules.csv, we should also add the compound of ἵημι  for table verbpdgm34 such as ἀφίημι

[2020-02-03 14:15] monzug commented on #329
waiting for the Smyth book

[2020-02-03 14:23] monzug commented on #316
also, check that ἀφείμην , <hdwd xml:lang="grc">ἀφίημι</hdwd>, aorist, middle,
<stemtype>ath_secondary</stemtype> has a match in table verbpdgm35 too.

[2020-02-03 14:51] monzug commented on #306
need to verify against Smyth

[2020-02-03 15:07] monzug commented on #309
waiting for Smyth

[2020-02-03 17:29] balmas commented on #289
Let's stop with the adjectives. I think the Greek pronoun tables we have already are pretty comprehensive and well-tested.

[2020-02-03 17:32] balmas opened #355 "paradigm test script"
@balmas, I started to work on the prototype and created a simple parsing of existed paradigms tables (based on the vue-cli-4) - I published on my server for now

http://alpheios-infl-check.irina-sklyarova.ru/

_Originally posted by @irina060981 in https://github.com/alpheios-project/inflection-tables/issues/289#issuecomment-557513766_

[2020-02-03 17:41] balmas commented on #355
@irina060981 can we turn you test interface into a script that can be used to help automatically test a batch of words?

We would like to prioritize testing inflection table matching and identification of additional enhancements needed by putting a list of most commonly use forms through such a script to get out for each form:

1) the lemma(s) identified with the stemtypes
2) the table(s) matched

[2020-02-03 17:42] balmas commented on #355
Also, @monzug can you think of anything else that would be needed in this interface?

[2020-02-03 18:06] monzug commented on #355
@balmas, as per your question, what we need is
lemma
verb
mood
num
pers
tense
voice
stemtype
derivtype

that's all I have been using for matching + grammars... but let's not go there

[2020-02-03 18:16] monzug commented on #289
there is a known issue with the interrogative and indefinite tables.

On Mon, Feb 3, 2020 at 6:29 PM Bridget Almas <notifications@github.com>
wrote:

[2020-02-03 18:35] monzug opened #356 "add mediopassive to rules.csv for verbpdgm31 table"
lookup for θέσθαι infinitive mediopassive aorist, it should do a match in the τίθημι: Aorist System Middle table but there is not inflection icon because we don't have the voice mediopassive in rules.csv
<mood>infinitive</mood>
<tense>aorist</tense>
<voice>mediopassive</voice>
<stemtype>emi_aor</stemtype>

[2020-02-03 19:37] monzug commented on #355
Forget to mention the dialect field e.g. <dial>Homeric Ionic</dial>

[2020-02-04 13:29] monzug commented on #291
btw, line 76 in rules.csv is a dup of line 75.
right now we have two lines like this
verbpdgm35	3	verb		middle		aorist	ἵημι
we should change middle in mediopassive in one of the two identical lines.

[2020-02-04 13:43] monzug opened #357 "add middlepassive to some tables in rules.csv"
Moving this issue from github #291

1) in verbpdgm35, there is a dup line, we should change middle in mediopassive as follow:
verbpdgm35	3	verb		mediopassive		aorist	ἵημι

2) in verbpdgm39, there is onlyone line with middle, we should add mediopassive for consistency
verbpdgm39	2	verb 	omi_aor	mediopassive

[2020-02-04 14:03] monzug commented on #343
in the Smyth book, the above table is 416

[2020-02-04 14:18] monzug commented on #343
also, I confirm that the 1st, 2nd and 3rd person singular indicative aorist active are valid forms in Smyth. there is also a note 755 to explain the form in κ
ἔθηκας
ἔθηκα
ἔθηκε 
their stemtype is aor1, it should be emi_aor to match with verbpdgm30 table

[2020-02-05 12:54] irina060981 commented on #355
@balmas and @monzug, I have updated prototype
http://alpheios-infl-check.irina-sklyarova.ru/

it works this way.
You could pass words separated by comma
![image](https://user-images.githubusercontent.com/12377640/73840426-e1793280-4863-11ea-90b2-513f72f6ef99.png)

click **Get the word**

![image](https://user-images.githubusercontent.com/12377640/73840445-eb9b3100-4863-11ea-8aa6-cc28906ca53c.png)

[2020-02-05 12:57] irina060981 commented on #355
I have uploaded source code here
https://github.com/alpheios-project/inflection-input

all calculations are recieved from `inflection-tables`

[2020-02-05 12:59] irina060981 commented on #355
@balmas, I hope I made the folloing points:

- the lemma(s) identified with the stemtypes
- the table(s) matched
- the cells matched within those tables
- inclusion of the lemma in the output
- inclusion of the cells matched in each matched table
- the ability to accept an uploaded list of forms as input

[2020-02-05 13:05] irina060981 commented on #355
here I don't understand, how do you see this - in this interface?
similiar to Wikipedia? you should have ability to select something, get the form, add the note, save somewhere and then download?

oh it is simply some memo to print some text?

Here I didn't understand - what do you mean.
I have done rendered tables with fullMatch cells, may be it is enough?

@balmas and @monzug , would be happy to

[2020-02-05 13:52] balmas commented on #355
here I don't understand, how do you see this - in this interface?
similiar to Wikipedia? you should have ability to select something, get the form, add the note, save somewhere and then download?

The point of the interface is enable efficient QA of the table matching algorithm.  Rather than require the user to keep a separate list somewhere of the errors, I think it would be helpful to just be ab

[2020-02-05 13:53] balmas commented on #355
Yes I think that works.

[2020-02-05 13:54] balmas commented on #355
Regarding the inputs, we are probably going to do batches of 25 or 100 words at a time. So the ability to upload a text file with the list of words would be helpful.

[2020-02-05 15:47] monzug commented on #355
Irina, fantastic tool. Thanks so much.
would it be possible to add the translation of the lemma?

On Wed, Feb 5, 2020 at 2:54 PM Bridget Almas <notifications@github.com>
wrote:

[2020-02-05 16:55] monzug opened #358 "extra columns in paradigm tables"
1) I did notice that in the Aorist Passive System table we have an extra column not present in Mastronarde tables: 2nd aorist indicative, stem_type aor2_pass
an example of form in the 2nd aorist column (the added column that is not in the paradigm table) is ἐγράφην (lemma γράφω which means scratch, graze)
The other columns matching Mastronarde use lemma βουλεύω which means take counsel, deliberate

[2020-02-05 23:37] irina060981 commented on #355
And then a download button to download the inputs as a CSV file?

Oh I think it is a good idea! Didn't guess to it :)

[2020-02-05 23:37] irina060981 commented on #355
ok, let's do it!

[2020-02-05 23:39] irina060981 commented on #355
would it be possible to add the translation of the lemma?

thank you, Monica!
@monzug, do you mean translations to some languages from lemma-translation service?
Or short definitions from dictionaries?

[2020-02-06 13:46] vgorman1 commented on #358
I think what you are seeing here, if I understand correctly, is that some irregular verbs are also sometimes given “regular forms” by analogy with the regular paradigm. So there can be different spellings of the same word form, essentially because some people use the correct form and some people made a mistake at some point and it caught on.

Is there a specific question that you want me to answer

[2020-02-06 14:32] monzug commented on #358
Hi Vanessa, thanks for the reply.
I think we will delete the extra column in 1) (it's not on the Mastronarde paradigm tables too)
and for 2), Smyth has a different set of tables. we should add the deriv_type to make a better match but before digging any further, I would like to know if these verbs and tables are popular: λέλοιπα    and   λέλυκα  in  Perfect Active System table.

[2020-02-06 14:42] monzug commented on #355
short definitions, if it's possible. Thanks for asking

On Thu, Feb 6, 2020 at 12:39 AM Sklyarova Irina <notifications@github.com>
wrote:

[2020-02-06 14:46] vgorman1 commented on #358
λέλυκα is your normal, regular 1st person singular, perfect indicative active from λύω. It follows all the normal rules of formation [reduplication + stem + kappa + personal endings]
λέλοιπα, from λείπω, is irregular: it uses the same endings as λέλυκα, but doesn’t have the kappa, which is the “regular” mark of the perfect tense. I suspect it has something to do with the fact that the sound combin

[2020-02-06 15:08] monzug commented on #358
Yes, THANKS.
@balmas, I would remove the extra column in 1) as there is not such a column in Mastronarde.
and in 2), would it be possible to use the derivtype reg_conj to distinguish the two indicative active with perf_act stemtype?

[2020-02-06 22:04] irina060981 commented on #355
oh great, than my thoughts were right :)

I have made the following changes:

Would be this way
![image](https://user-images.githubusercontent.com/12377640/73910312-bd1c6500-48fa-11ea-9d3a-f745d28f923d.png)

after choose file

![image](https://user-images.githubusercontent.com/12377640/73910327-c6a5cd00-48fa-11ea-9a04-fcf4912765a3.png)

Also added short definitions checkbox and add them to the res

[2020-02-06 22:05] irina060981 commented on #355
I have to do only feedback feature, the other points are made.

[2020-02-07 13:37] monzug commented on #302
one of the first verbs in the dcc most common greek words is εἴρηκα and we get both the 1st perfect indicative and 2nd perfect indicative cells highlighted.

[2020-02-07 13:38] monzug commented on #358
see also issue #302

[2020-02-07 14:05] monzug commented on #357
see issue #356

[2020-02-07 14:18] monzug opened #359 "too many cells highlighted for verb from the dcc list"
One of the most common Greek verb is εἶπον
with stemtype aor1 and aor2
Lookup for εἶπον it does highlight too many cells: there should be only the imperative highlighted in the aor1 table and not the indicative 1st person singular and 3rd person plural.
looking at the rules.csv file I did not find anything wrong. am I looking at the right file: inflection-tables/src/paradigm/data/greek/verb/rules.

[2020-02-07 14:20] balmas commented on #359
the rules define which tables are matched, and the table data itself determines which cells are matched.

the table data is in https://github.com/alpheios-project/inflection-tables/tree/master/src/paradigm/data/greek/verb/tables

[2020-02-07 14:35] monzug commented on #359
yep, same rules.csv
imperative is only for stemtype aor1 but as you can see from the attachment is in aor1 and aor2 tables
1st person singular and 3rd person plural indicative should be only for aor2 table but also cells in aor1 are highlighted
![imperative-aor1](https://user-images.githubusercontent.com/41396793/74037725-e08ff000-498c-11ea-991c-c94fabea9b6b.JPG)
![aor-aor1-aor2](https://user-imag

[2020-02-07 14:37] vgorman1 commented on #359
εἶπον is most commonly either the 1st person singular or 3rd person plural aor ind act.  It can be a 2ng sg aor imperative active as well, but that form is much more rare.
εἶπον is irregular: it has no proper present tense.

Vanessa B. Gorman
Professor of Ancient History
Department of History
619 Oldfather Hall
University of Nebraska-Lincoln
Lincoln, NE 68588-0327
https://vgorman1.github.io/

From

[2020-02-07 18:20] monzug commented on #336
while testing the matching from the most common Greek words from the DCC list, I come across an other good example that we need to fix rules.csv for the future tables:
lookup γενήσομαι  it will bring up the Future System (Active and Middle) with contraction in -έω
but it should open the reg_fut table, Future System (without contraction) table as the stem_type is reg_fut

[2020-02-10 05:21] irina060981 commented on #289
@balmas , may be than we should close this issue?

[2020-02-10 12:36] balmas commented on #289
yep.

[2020-02-10 12:36] #289 closed

[2020-02-10 13:55] monzug commented on #359
same for  ἔχω   Greek verb from the dcc list. it's a 1st person sing indicative and subjective active of ω-Verbs: Present System Active  (stemtype w_stem) and 3rd person sing imperfect ind active of Present System Active of Contract Verbs in -όω (stemtype ow_pr). All 3 cells are highlighted in each table. see screenshot
![personsing](https://user-images.githubusercontent.com/41396793/74155710-0d3d

[2020-02-10 15:25] balmas commented on #23
I'm going to close this as we have had no user requests for changes to the ordering of the Latin inflection tables.

[2020-02-10 15:25] #23 closed

[2020-02-10 15:30] monzug opened #360 "εἷκα does not have a match highlighted in the inflection table"
εἷκα is one of the Greek verb from the DCC list.
εἷκα  is <hdwd xml:lang="grc">ἵημι</hdwd>
<pofs order="1">verb</pofs>
</dict>
<infl>
<term xml:lang="grc">
<stem>εἱκ</stem>
<suff>α</suff>
</term>
<pofs order="1">verb</pofs>
<mood>indicative</mood>
<num>singular</num>
<pers>1st</pers>
<tense>perfect</tense>
<voice>active</voice>
<stemtype>perf_act</stemtype>
it should open the  Perfect Active Syste

[2020-02-10 15:42] monzug commented on #360
same for εἷμα  it does open the ἵημι: Present System Middle-Passive table with no match as there is not a perfect indicative mp column.

[2020-02-10 15:52] balmas commented on #180
Closing this. I think we are okay with the tables for fero.

[2020-02-10 15:52] #180 closed

[2020-02-10 15:52] balmas commented on #182
might be worth retesting this one with latest code, not sure whether it has been fixed already.

[2020-02-10 15:55] balmas commented on #186
closing this. we will address with improved morphology as described above.

[2020-02-10 15:55] #186 closed

[2020-02-10 16:13] balmas commented on #208
closing as dupe of alpheios-project/alpheios-core#26

[2020-02-10 16:13] #208 closed

[2020-02-10 16:15] monzug commented on #259
Can we add the updated forms.csv to the next build?

[2020-02-10 16:20] balmas commented on #265
closing as dupe of alpheios-project/alpheios-core#46 and alpheios-project/alpheios-core#47

[2020-02-10 16:20] #265 closed

[2020-02-11 14:44] #298 closed

[2020-02-11 14:44] balmas commented on #299
this is done.

[2020-02-11 14:44] #299 closed

[2020-02-11 15:06] balmas commented on #355
this is up now at https://alpheios-misc-dev.s3.us-east-2.amazonaws.com/inflection-input/index.html

[2020-02-11 15:06] #355 closed, assigned to irina060981